// custom buttons

.btn {
  display: flex;
  align-items: center;

  &.v-card, &:before {
    border-radius: $button-border-radius !important;
  }

  &.v-card, .v-card:active {
    background: transparent;
  }

  label {
    padding: 0px 15px;
    font-weight: 600;
    color: #555;
    font-size: 0.9em;
    @extend .noselect;

    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
  }

  .icon-bg {
    display: inline-flex;
    padding: 8px;
    background: $cl-primary;
    border-radius: 10px;
  }

  &.btn-flat {
    .icon-bg {
      background: transparent !important;
    }
    label {
      padding-left: 0px;
    }

    &.flex-row-reverse {
      label {
        padding-left: 15px;
        padding-right: 0px;
      }
    }
  }

  &.btn-small {
    &.v-card, &:before {
      border-radius: ($button-border-radius / 2) !important;
    }
    label { font-size: 0.8em; }
    .icon-bg {
      font-size: 0.8em;
    }
  }
}

.v-btn {
  font-size: 1em;
  font-weight: 600;
  // height: 60px;

  &.v-btn--round.square {
    border-radius: 10px;
  }

  &.v-btn--fab.v-btn--contained {
    box-shadow: inherit;
  }

  &.reversed {
    .v-btn__content {
      flex-direction: row-reverse;
    }
  }
}