.view-chat {
  position: relative;
  display: flex;
  flex-direction: column;

  .scrollbar {
    flex-grow: 1;
  }

  .sender {
    flex: 0 1 auto;
    margin: 30px $content-pad 0px;
  }

  .messages {
    width: 100%;
    height: 600px;
    background-color: rgba(grey, 0.3);
    overflow-y: scroll;
  }

  .avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(grey, 0.3);
    color:white;
    justify-content: center;
    align-items: center;
  }

  .chat-message {
    display: flex;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 30px;
    }

    .message {
      position: relative;
      display: flex;
      padding: 10px;
      align-self: center;
      margin-left: 20px;

      &::before {
        @include triangle-border(left, white, 20px, 8px);
        position: absolute;
        left: -8px;
        top: 16px;
        z-index: 10;
        width: 0;
        height: 0;
        content: '';
      }
    }

    &.owner {
      .message {
        background-color: #4c4c4c;
        color:white;

        &:before {
          @include triangle-border(left, #4c4c4c, 20px, 8px);
        }
      }
    }

    &.receiver {
      flex-direction: row-reverse;
      .message {
        background-color: #c18e9c;
        margin-left: 0px;
        margin-right: 20px;

        &:before {
          @include triangle-border(right, #c18e9c, 20px, 8px);
          left: auto;
          right: -8px;
        }
      }
    }
  }

}