// TABLE STYLE ON DEFAULT V-DATA-TABLE (vuetify component)

.v-data-table {
  border-radius: $sheet-border-radius 0 0;
  .header {
    display: flex;
    padding: $table-pad;
  }

  table {
    th {
      background-color: darken($cl-body-primary, 1%);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    th:first-child,
    td:first-child {
      padding-left: $table-pad !important;
    }
    th:last-child,
    td:last-child {
      padding-right: $table-pad !important;
    }
  }

  .v-data-footer {
    @extend .no-border;
    padding: 0px ($table-pad - 10px) 0px $table-pad;
    .v-data-footer__select {
      flex: 1 0 auto;
      justify-content: flex-start;
      color: #999;

      .v-input.v-select {
        margin-left: 15px;
      }
    }

    .v-data-footer__pagination {
      color: #999;
      letter-spacing: 2px;
      font-size: 0.9em;
    }
  }

  header.v-toolbar {
    &[rounded] {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .v-toolbar__content {
      padding-left: $table-pad;
      padding-right: $table-pad;
    }
  }
}
.pagination {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  border-radius: 0 0 $sheet-border-radius $sheet-border-radius;
  padding: 13px 0 13px 34px;
  .pagination__select {
    align-items: center;
    span {
      font-size: 0.75rem;
    }
    .v-select {
      margin: 0 0 0 10px;
    }
  }
  .v-text-field__details {
    display: none;
  }
}
.v-select.small {
  padding: 0;
  position: static;
  .v-select__selections .v-select__selection--comma {
    font-size: 0.75rem;
  }
}
.table-filter {
  padding-left: 40px;
  margin-bottom: 10px;
  .v-text-field__details {
    display: none;
  }
  .v-text-field {
    padding-top: 0px;
  }
  .v-btn--icon.v-size--small .v-icon,
  .v-btn--fab.v-size--small .v-icon {
    height: 18px;
    font-size: 14px;
    width: 18px;
  }
  .v-btn--fab.v-size--small {
    height: 30px;
    width: 30px;
  }
}
