

.form {

  /*.v-sheet {
    border-radius: $sheet-border-radius;
  }*/
  .section {
    padding: $table-pad;
    background: white;

    &.--bottom-inputs {
      padding-bottom: $table-pad - 15px;
    }

    &:nth-child(even) {
      border-top: 1px solid rgba(66,66,66, 0.2);
      border-bottom: 1px solid rgba(66,66,66, 0.2);
    }

    &:first-child {
      border-top-left-radius: $sheet-border-radius;
      border-top-right-radius: $sheet-border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $sheet-border-radius;
      border-bottom-right-radius: $sheet-border-radius;
    }

    &.actions {
      display: flex;
      border-top: 1px solid rgba(66,66,66, 0.2);
    }
  }

  .subform {
    margin-bottom: 0px;
    
    .section {
      &:last-child {
        border-bottom: none;
      }

      &.actions {
        padding-bottom: 0px;
      }
    }
  }

  &-subtitle {
    padding: 20px $table-pad;
    margin-bottom: 50px;
    background: rgba(0,0,0,0.05);
  }

  .v-tabs {
    .v-window__container {
      height: 100%;
    }

    .v-tab {
      min-width: auto;

      &.has-corrections.v-tab--active {
        color: $cl-error !important;

        .v-icon {
          color: $cl-error!important;
        }
      }

      &.has-corrections {
        color: desaturate($cl-error, 20%) !important;

        .v-icon {
          color: desaturate($cl-error, 20%) !important;
        }
      }
    }
  }


  .tab-content {
    height: 100%;
    width: 100%;

    .ib-1 { padding-left: 10px; }
    .ib-2 { padding-left: 32px; }
    .ib-3 { padding-left: 52px; }

    .radio-top-fix {
      margin-top: -15px;
    }

    .text-bigger {
      font-size: 1.3em;
    }

    .titles {
      margin-bottom: $content-pad / 2;
      text-align: left;
      .subtitle { font-size: 1.3em; }
      .maintitle { font-size: 1.8em; color: $cl-secondary; font-weight: 600; }
    }

    .field-container {
      .field-subtitle {
        font-size: 1.2em;
      }
    }

    .placeholder {
      .v-image {
        width: 400px;
        height: 300px;
      }
    }
  }

  .explain {
    font-size: 0.9em;
    color: #666;
  }

  .error-text {
    color: $cl-error;
    font-size: 12px;
    line-height: 12px;

    &.margins {
      margin-top: 8px;
      margin-left: 12px;
    }
  }

  @media #{map-get($display-breakpoints, 'xs-only')} {
    .tab-content{
      .text-bigger { font-size: 1em; }
      .titles {
        h1 { font-size: 1.5em !important; }
        .subtitle { font-size: 1em; }
      }

      .field-container {
        .field-title {
          font-size: 1.3em;
        }
        .field-subtitle {
          font-size: 1em;
        }
      }

      .placeholder {
        .v-image {
          width: 200px;
          height: 150px;
        }
      }
    }

    .section.actions {
      padding: 15px;

      .v-btn {
        min-width: auto;
        padding: 0px 8px;
      }
    }


  }
}