$nested-tree-spacer: 15px;

.nested-tree {

  display: flex;

  .item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    &:not(:last-child) {
      margin-right: $nested-tree-spacer;
    }


    .item {
      margin-bottom: $nested-tree-spacer;
    }

  }

}