<template lang="pug">
  .font-chooser.mb-5
    v-autocomplete(
      v-model="activeFont"
      :items="items"
      append-icon="ic-expand-more"
      cache-items
      flat
      hide-details
      :label="$t('text.select_a_font')"
      filled
      :disabled="disabled"
      @change="$emit('change', activeFont)"
    )
    .font-preview(v-if="activeFont" :class="classes")
      .paragraph(v-if="paragraph")
        h4 What is Lorem Ipsum?
        .text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .headings(v-else)
        h1 The quick brown fox jumps over the lazy dog
        h2 The quick brown fox jumps over the lazy dog
        h3 The quick brown fox jumps over the lazy dog
        h4 The quick brown fox jumps over the lazy dog
      

</template>

<script>
import { FontManager } from '@samuelmeuli/font-manager';
export default {
  props: [
    'apiKey', 'paragraph', 'disabled', 'value', 'id'
  ],
  data () {
    return {
      fontManager: null,
      loading: false,
      items: [],
      search: null,
      activeFont: this.value,
    }
  },
  computed: {
    classes() {
      let cls = {}
      cls['apply-font-' + this.id] = true
      return cls
    },

    defaultFont() {
      return (this.value) ? this.value : 'Open Sans'
    }
  },
  watch: {
    activeFont (font) {
      this.fontManager && this.activeFont && this.fontManager.setActiveFont(font)
      //val && val !== this.select && this.querySelections(val)
    },
  },
  methods: {
    querySelections (v) {
      this.loading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.states.filter(e => {
          return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    },
  },

  mounted() {
    this.fontManager = new FontManager(this.apiKey, this.defaultFont, { limit: 300, pickerId: this.id });
    console.log(this.fontManager);
    this.fontManager.init()
      .then(() => {
        // font list has finished loading
        //console.log(Array.from(this.fontManager.getFonts()))
        //console.log(this.fontManager.getActiveFont())
        //this.fontManager.setActiveFont('Roboto')
        //console.log(this.fontManager.getActiveFont())
        this.items = Array.from(this.fontManager.getFonts()).map((item) => {
          return {
            text: item[0],
            value: item[0]
          }
        })
      })
      .catch((err) => {
        // error while loading font list
        console.error(err);
      });

    //this.items = 
  }
}
</script>


<style lang="scss">
.font-chooser {


  .font-preview {
    background-color: rgba($cl-primary, 0.2);
    padding: $content-pad;
    border-bottom-left-radius: $border-radius-root;
    border-bottom-right-radius: $border-radius-root;

  }

  @media #{map-get($display-breakpoints, 'xs-only')} {
    .font-preview {
      padding: 10px;
    }
  }

}
</style>