<template lang="pug">
  .nested-tree
    .item-content(
      v-for="(item, key) in list"
      :style="'flex-grow: ' + size(item)"
      v-if="!item.deleted"
    )
      v-btn.item(
        v-bind="binds(item)"
        @click="$emit('click', item.uuid)"
      ) {{ item.name }}
      nested-tree(
        v-model="item.elements"
        :activeUuid="activeUuid"
        @click="resendInput"
      )
</template>


<script>
export default {
  name: 'nested-tree',
  props: {
    value: {
      type: Array,
      required: true
    },
    activeUuid: null
  },

  computed: {
    list() {
      return this.value
    },
  },

  methods: {
    binds(item) {
      const active = this.activeUuid == item.uuid
      return {
        depressed: true,
        outlined: !active,
        color: "primary"
      }
    },

    size(item) {
      const c = item.elements.length
      return (c == 0) ? 1 : c
    },

    resendInput(uuid) {
      this.$emit('click', uuid)
    }
  }
}
</script>