<template lang="pug">
  .social-links
    .item(v-for="item in model")
      v-checkbox(v-model="item.check" hide-details :disabled="isLocked")
      v-text-field(:label="item.name" v-model="item.url" hide-details :disabled="!item.check"  :readonly="isLocked")

    btn.add(:label="$t('text.add_new')" icon="ic-add" :small="true" :flat="true" color="primary" @input="$emit('add-social')" :disabled="isLocked")
</template>

<script>
import Btn from '@/components/common/buttons/Button'
export default {
  components: { Btn },
  props: {
    model: { type: Array },
    isLocked: { type: Boolean }
  }
}
</script>

<style lang="scss">
.social-links {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
  }

  .add {
    margin-top: 20px;
    align-self: flex-start;
    label { color: $cl-primary; }
  }
}
</style>