<template lang="pug">
  v-radio-group.style-chooser(v-model="model" @change="$emit('change', model)" :disabled="disabled" :error-messages="errorMessage")
    v-row
      v-col.col(
        cols="12" sm="6" md="4"
        v-for="item in items"
        :key="item.id"
      )
        v-card
          v-img.no-resp.hover(:src="require(`@/assets/images/website-styles/small/${item.image}`)" @click="setPreview(item)")
          .content
            v-radio(:value="item.style" :key="item.id")
            .information
              h5.mt-1 {{ item.name }}
              //- {{ item.description }}

    v-dialog(
      v-model="dialog"
      max-width="80%"
    )
      v-sheet.image-preview
        v-btn(icon dark @click="dialog = false")
          v-icon ic-close

        v-img(:src="require(`@/assets/images/website-styles/big/${preview.image}`)" width="100%")

</template>


<script>

export default {
  props: [ 'value', 'disabled', 'errorMessage' ],
  data: function() {
    return {
      model: this.value,
      dialog: false,
      previewItem: null,
      items: [
        {
          id:1,
          name: this.$t('text.modern_and_corporate'),
          description: 'Description test, test test... description test..',
          style: 'modern_corporate',
          image: 'modern_corporate.jpg'
        },
        {
          id:2,
          name: this.$t('text.crazy_and_extravagant'),
          description: 'Description test, test test... description test..',
          style: 'crazy_extravagant',
          image: 'crazy_extravagant.jpg'
        },
        {
          id: 3,
          name: this.$t('text.colorful_and_playful'),
          description: 'Description test, test test... description test..',
          style: 'colorful_playful',
          image: 'colorful_playful.jpg'
        },
        {
          id:4,
          name: this.$t('text.elegant_and_beautiful'),
          description: 'Description test, test test... description test..',
          style: 'elegant_beautiful',
          image: 'elegant_beautiful.jpg'
        },
        {
          id:5,
          name: this.$t('text.oldfashioned_and_classical'),
          description: 'Description test, test test... description test..',
          style: 'oldfashioned_classical',
          image: 'oldfashioned_classical.jpg'
        },
        {
          id:6,
          name: this.$t('text.simple_and_minimalistic'),
          description: 'Description test, test test... description test..',
          style: 'simple_minimalistic',
          image: 'simple_minimalistic.jpg'
        }

      ]
    }
  },
  computed: {
    preview() {
      return this.previewItem ?? this.items.first()
    }
  },

  methods: {
    setPreview(item, show = true) {
      this.previewItem = item
      this.dialog = show
    }
  }
}
</script>

<style lang="scss">
.style-chooser {
  .v-card {
    border-radius: 5px;
    //padding: 20px;
  }

  .col {
    cursor: default;
  }


  .content{
    display: flex;
    align-items: flex-start;
    padding: $content-pad / 2;

  }
}

.image-preview {
  position: relative;

  .v-image {
    position: relative;
    z-index: 1;
  }

  .v-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;

    background: rgba($cl-primary, 0.5);


  }

}
</style>