<template lang="pug">
  v-carousel(
    delimiter-icon="ic-brightness-1"
    prev-icon="ic-chevron-left"
    next-icon="ic-chevron-right"
    hide-delimiters
    :disabled="disabled"
    height="650"
    v-model="model"
    @change="$emit('change', model)"
  )
    v-carousel-item(
      v-for="(item,i) in items"
      :key="item.id"
      :value="item.id"
      :src="item.src"
      position="right"
    )

</template>

<script>
  export default {
    props: {
      disabled: { type: Boolean, default: false },
      value: { type: String }
    },
    data () {
      return {
        model: this.value,
        items: [
          { id: 'blue-and-refreshing', src: require('@/assets/images/color-schemes/blue-and-refreshing.png') },
          { id: 'bright-accent-colons', src: require('@/assets/images/color-schemes/bright-accent-colors.png') },
          { id: 'close-to-nature', src: require('@/assets/images/color-schemes/close-to-nature.png') },
          { id: 'contemporary-and-bold', src: require('@/assets/images/color-schemes/contemporary-and-bold.png') },
          { id: 'deep-purples', src: require('@/assets/images/color-schemes/deeppurples.png') },
          { id: 'elegant-yet-approachable', src: require('@/assets/images/color-schemes/elegant-yet-approachable.png') },
          { id: 'gorgeous-contrast', src: require('@/assets/images/color-schemes/gorgeous-contrast.png') },
          { id: 'lively-yet-soothing', src: require('@/assets/images/color-schemes/lively-yet-soothing.png') },
          { id: 'minimal-yet-warm', src: require('@/assets/images/color-schemes/minimal-yet-warm.png') },
          { id: 'snow-yet-warm', src: require('@/assets/images/color-schemes/snow-yet-warm.png') },
          { id: 'stylish-sophisticated', src: require('@/assets/images/color-schemes/stylish-sophisticated.png') },
          { id: 'vivid-and-sharp', src: require('@/assets/images/color-schemes/vivid-and-sharp.png') },
        ]
      }
    }
  }
</script>