@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

//.filepond--root {
  //margin-bottom: 0px
//}

.filepond--item {
  width: calc(25% - .5em);
  //height: 256px !important;
}


  // green dashed border
.filepond--wrapper{

  &.dashed {
    .filepond--panel-root {
      visibility: hidden;
    }

    .filepond--drip {
      border: 2px dashed grey;
      opacity: 1;
    }

    &:hover{
      cursor: pointer
    }

    &.--primary { .filepond--drip { border-color: $cl-primary; }}
    &.--secondary { .filepond--drip { border-color: $cl-secondary; }}
    &.--accent { .filepond--drip { border-color: $cl-accent; }}


  }
  &.no-upload {
    .filepond--file-action-button.filepond--action-process-item {
      display: none
    }
  }
}

.only-preview {


  .image {
    &:hover {
      cursor: pointer !important;
    }
  }
}