.hide {
  display: none !important;
}

.block {
  display: block !important;
}

.small {
  font-size: 0.9em;
}

ul.no-style {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.footer {
  margin-top: 20px;
  justify-content: flex-end;
  font-size: 0.9em;

  .mini-menu {
    display: flex;
    font-weight: 600;

    li.sep {
      padding: 0px 10px;
    }
  }

  .copy {
    color: rgba(black, 0.5);
  }
}

.border-primary {
  border: 1px solid rgba($cl-primary, 0.5) !important;
}


.bga-primary {
  background-color: rgba($cl-primary, 0.15) !important;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}