.cpad {
  padding: 0px $content-pad;
}

.hpad {
  padding: $content-pad 0px;
}

.chpad {
  padding: $content-pad;
}

.full {
  width: 100%;
}

.full-height, .full {
  height: 100%;
  display: flex;

  &.centerize {
    justify-content: center;
    align-items: center;
  }

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: #666;
      font-size: 1.2em;
    }


    &.compact {
      width: 70%;
    }

    @media(max-width: 500px) {
      &.compact {
        width: 100%;
      }
    }
  }
}


@media #{map-get($display-breakpoints, 'xs-only')} {

  .cpad {
    padding: 0px $content-pad / 2;
  }
}