// IMAGES / ICONS / VIDEO

.logo {
  width: 350px;
  height: 100px;
  background: url('~@/assets/images/logo/logo.png') center center no-repeat transparent;
  background-size: contain;
  cursor: pointer;
  &.small { width: 210px; height: 75px; }
}

.drop-down-language-item > span{
  vertical-align: super;
}