$scrollbar-width: 3px;
$scrollbar-radius: 0px;
$scrollbar-body-color: rgba(white, 0);
$scrollbar-thumb-color: $cl-primary;

.scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;

  &.xAxis {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-body-color;

  // Chrome / Edge / Safari

  &::-webkit-scrollbar {
    width: $scrollbar-width;              /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar-body-color;        /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;    /* color of the scroll thumb */
    border-radius: $scrollbar-radius;       /* roundness of the scroll thumb */
    //border: 3px solid orange;  /* creates padding around scroll thumb */
  }

  &--content {
    padding: $content-pad;
  }

  &.with-content {
    margin-top: $content-pad;

    .scrollbar--content {
      padding-top: 0px;
    }
  }
}