.theme--light.v-application {
    background: $cl-body-primary;
}

.v-application {
  position: relative;
  font-family: $font-montserrat;

  &.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .v-application--wrap {
    flex-direction: row;
  }
}

button:focus{
  outline: 0 !important;
}

a{
  color:inherit;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active
  {
      text-decoration: none !important;
  }
}

.v-text-field {
  .v-label { font-size: 0.92em; }
  .v-label--active { font-size: 16px; padding-left: 0px; }
  input { font-size: 0.92em; }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.no-border {

  &.theme--light.v-text-field > .v-input__control > .v-input__slot:before,
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: transparent !important;
  }

  &.v-text-field > .v-input__control > .v-input__slot:after,
  .v-text-field > .v-input__control > .v-input__slot:after {
    transform: none;
    border: none;
  }
}

.theme--gradient {
  //background-image:linear-gradient(135deg, rgba($cl-accent, 1) 0%, rgba($cl-primary, 0.1) 100%);
  background-image:linear-gradient(135deg, rgba($cl-primary, 1) 0%, rgba($cl-primary, 1) 100%);
  //$background-color: $cl-primary;
}

.v-tab--active {
  background-color: rgba($cl-primary, 0.1);
}

.v-tab {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.v-form {
  .v-toolbar {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
}

.v-toolbar {
  &.content-pad .v-toolbar__content {
    padding-left: $table-pad;
    padding-right: $table-pad;
  }
}

.v-carousel {
  .v-image {
    .v-responsive__content { width: auto !important; }
  }
}

.v-expansion-panels {
  .v-expansion-panel-header {
    &--active {
      background-color: rgba(82, 62, 153, 0.1);
      color: $cl-primary;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}


.v-textarea {
  .v-text-field__slot {
    padding: 10px;
  }
}

.v-image.no-resp {
  .v-responsive__content { display: none; }
}