@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q5ffa1');
  src:  url('fonts/icomoon.eot?q5ffa1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q5ffa1') format('truetype'),
    url('fonts/icomoon.woff?q5ffa1') format('woff'),
    url('fonts/icomoon.svg?q5ffa1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-make-group:before {
  content: "\e91e";
}
.ic-globe:before {
  content: "\e911";
}
.ic-check-box-outline-blank:before {
  content: "\e91a";
}
.ic-check-box:before {
  content: "\e91b";
}
.ic-radio-button-checked:before {
  content: "\e91c";
}
.ic-radio-button-unchecked:before {
  content: "\e91d";
}
.ic-notifications-none:before {
  content: "\e912";
}
.ic-person:before {
  content: "\e900";
}
.ic-share:before {
  content: "\e933";
}
.ic-ondemand-video:before {
  content: "\e93a";
}
.ic-priority-high:before {
  content: "\e935";
}
.ic-apps:before {
  content: "\e914";
}
.ic-arrow-downward:before {
  content: "\e936";
}
.ic-arrow-drop-down:before {
  content: "\e915";
}
.ic-arrow-drop-up:before {
  content: "\e916";
}
.ic-arrow-upward:before {
  content: "\e937";
}
.ic-back:before {
  content: "\e917";
}
.ic-cancel:before {
  content: "\e918";
}
.ic-check:before {
  content: "\e926";
}
.ic-chevron-left:before {
  content: "\e927";
}
.ic-chevron-right:before {
  content: "\e928";
}
.ic-close:before {
  content: "\e901";
}
.ic-expand-less:before {
  content: "\e929";
}
.ic-expand-more:before {
  content: "\e92a";
}
.ic-menu:before {
  content: "\e92b";
}
.ic-more-horiz:before {
  content: "\e92c";
}
.ic-more-vert:before {
  content: "\e92d";
}
.ic-refresh:before {
  content: "\e92e";
}
.ic-subdirectory-arrow-right:before {
  content: "\e92f";
}
.ic-flight:before {
  content: "\e913";
}
.ic-zoom-out-map:before {
  content: "\e930";
}
.ic-brightness-1:before {
  content: "\e925";
}
.ic-style:before {
  content: "\e91f";
}
.ic-attach-money:before {
  content: "\e920";
}
.ic-mode-edit:before {
  content: "\e902";
}
.ic-sitemap:before {
  content: "\e921";
}
.ic-add:before {
  content: "\e903";
}
.ic-content-copy:before {
  content: "\e904";
}
.ic-send:before {
  content: "\e938";
}
.ic-auth-key:before {
  content: "\e905";
}
.ic-business:before {
  content: "\e919";
}
.ic-call-split:before {
  content: "\e931";
}
.ic-chat-bubble-outline:before {
  content: "\e906";
}
.ic-shuffle:before {
  content: "\e934";
}
.ic-delete:before {
  content: "\e907";
}
.ic-done:before {
  content: "\e908";
}
.ic-done-all:before {
  content: "\e909";
}
.ic-filter:before {
  content: "\e939";
}
.ic-fingerprint:before {
  content: "\e90a";
}
.ic-help:before {
  content: "\e93b";
}
.ic-open-with:before {
  content: "\e932";
}
.ic-payment:before {
  content: "\e922";
}
.ic-power-settings-new:before {
  content: "\e90b";
}
.ic-settings:before {
  content: "\e90c";
}
.ic-shopping-basket:before {
  content: "\e923";
}
.ic-trending-flat:before {
  content: "\e90d";
}
.ic-trending-left:before {
  content: "\e90e";
}
.ic-view-day:before {
  content: "\e924";
}
.ic-visibility:before {
  content: "\e90f";
}
.ic-visibility-off:before {
  content: "\e910";
}
