<template lang="pug">
  .login
    router-link(to="/")
      .logo
        version.auth
    v-sheet(elevation="1")
      .title {{ $t('text.login') }}
        v-icon ic-auth-key
      .small.mt-2 {{ $t('text.please_login_to_your_account') }}

      v-text-field.mt-8(
        name="email"
        :label="$t('text.email_address')"
        :error-messages="$t(errors.email)"
        v-model="email"
        type="email"
      )
      v-text-field.mt-5(
        name="password"
        :label="$t('text.password')"
        type="password"
        :error-messages="$t(errors.password)"
        v-model="password"
      )
      vue-recaptcha(:sitekey="siteKey" :loadRecaptchaScript="true")
        v-btn.submit.mt-5.theme--gradient(
          color="primary"
          depressed=true
          hide-details
          x-large
          @click="login"
          :loading="isLoading"
        ) {{ $t('text.login') }}

    .bottom
      | {{ $t('text.dont_have_an_account') }}
      router-link.primary--text(to="register")  {{ $t('text.register_now') }}
      br
      br
      router-link.block.primary--text.text-center(to="reset-password") {{ $t('text.forgot_password') }}
</template>

<script>

  import FormMixin from '@front/mixins/FormMixin'
  import {destroy} from 'filepond';
  import Version from "@front/components/common/Version.vue"
import VueRecaptcha from 'vue-recaptcha'

  export default {
    components: {
      Version, VueRecaptcha
    },
    mixins: [
      FormMixin('login')
    ],

    computed: {
      isLoading() {
        return this.$store.state.auth.is_preloading
      },

      siteKey() {
        return process.env.VUE_APP_GOOGLE_RECAPTCHA_SITEKEY
      }
    },

    methods: {
      login() {
        this.formDispatch('LOGIN')
      },

      enterDown(event) {
        if (event.keyCode == 13)
          this.login()
      }
    },

    mounted() {
      //this.$store.commit('auth/login/SET_ERRORS', {})
      //console.log(this)
      window.addEventListener("keypress", this.enterDown);
    },

    destroyed() {
      window.removeEventListener("keypress", this.enterDown);
    }
  }
</script>