<template lang="pug">
  .password-reset
    router-link(to="/")
      .logo
    v-sheet(elevation="1")
      .title {{ $t('text.reset_password') }}
        v-icon ic-auth-key
      .small.mt-2 {{ $t('text.enter_your_email_address_to_recover_your_password') }}
      .small(v-if="isShowMessageSuccess")
        br
        <v-alert border="left" colored-border color="success" elevation="2">{{ formState.message }}</v-alert>

      v-text-field.mt-8(
        name="email"
        :label="$t('text.email_address')"
        :error-messages="$t(errors.email)"
        v-model="email"
        type="email"
      )

      v-btn.submit.mt-5.theme--gradient(
        color="primary"
        depressed=true
        hide-details
        x-large
        @click="passwordReset"
        :loading="isLoading"
      ) {{ $t('text.submit') }}
    .bottom
      | {{ $t('text.dont_have_an_account') }}
      router-link.primary--text(to="register")  {{ $t('text.register_now') }}
      br
      br
      router-link#btn-rp-login.block.primary--text.text-center(to="login") {{ $t('text.return_to_login') }}
</template>

<script>
  import FormMixin from '@front/mixins/FormMixin'

  export default {
    mixins: [
      FormMixin('passwordReset')
    ],

    computed: {
      isLoading() {
        return this.$store.state.auth.is_preloading
      },

      isShowMessageSuccess() {
        return this.formState.isResetPasswordSucceed
      }
    },

    methods: {
      passwordReset() {
        this.formDispatch('RESET_PASSWORD')
      },

      enterDown(event) {
        if (event.keyCode === 13)
          this.passwordReset()
      }
    },

    mounted() {
      window.addEventListener("keypress", this.enterDown);
    },

    destroyed() {
      window.removeEventListener("keypress", this.enterDown);
    }
  }
</script>