<template lang="pug">
  .register
    router-link(to="/")
      .logo
        version.auth
    v-sheet(elevation="1")
      .title {{ $t('text.register') }}
        v-icon ic-person
      .small.mt-2 {{ $t('text.register_a_free_account_and_start_witnesing_the_benefits_of_our_complience_management_system_today') }}
      .row.mt-8
        v-col(cols="12" sm="6")
          v-text-field(name="company" :label="$t('text.company')" :error-messages="$t(errors.company)" v-model="company")
          v-text-field(name="email" :label="$t('text.email_address')" :error-messages="$t(errors.email)" v-model="email")

        v-col(cols="12" sm="6")

          v-text-field(name="password" :label="$t('text.password')" type="password" :error-messages="$t(errors.password)" v-model="password")
          v-text-field(name="password_confirmation" :label="$t('text.repeat_password')" type="password" :error-messages="$t(errors.password_confirmation)" v-model="password_confirmation")

      .row
        v-col(cols="12" sm="6")
          vue-recaptcha(:sitekey="siteKey" :loadRecaptchaScript="true")
            v-btn.submit.mt-5(color="primary" depressed=true hide-details x-large @click="register" :loading="isLoading" :disabled="isLoading") {{ $t('text.register') }}
        v-col(cols="12" sm="6")
          div.terms
            .wrap( v-html="$t('text.by_clicking_register_i_aggree_to_the_{terms_of_services}_and_{pricacy_policy}', policyTexts)")
    .bottom.pt-5
      | {{ $t('text.already_have_an_account') }}
      router-link.primary--text(to="login") &nbsp; {{ $t('text.login_now') }}
      br
      br
      router-link.block.primary--text.text-center(to="reset-password") {{ $t('text.forgot_password') }}
</template>

<script>
import FormMixin from '@front/mixins/FormMixin'
import Version from "@front/components/common/Version.vue";
import VueRecaptcha from 'vue-recaptcha'
export default {
  components: {
    Version, VueRecaptcha
  },
  mixins: [
    FormMixin('registration')
  ],

  computed: {
    isLoading() {
      return this.formState.is_registering
    },

    policyTexts() {
      return {
              terms_of_services: '<a href="' + this.$t('text.url.terms') + '" class="primary--text" target="_blank">'+ this.$t('text.terms_of_services') +'</a>',
              pricacy_policy: '<a href="' + this.$t('text.url.policy') + '" class="primary--text" target="_blank">'+ this.$t('text.privacy_policy') +'</a>'
            }
    },

    siteKey() {
        return process.env.VUE_APP_GOOGLE_RECAPTCHA_SITEKEY
      }
  },

  methods: {
    register() {
      if (!this.isLoading)
        this.formDispatch('REGISTER')
    },

    enterDown(event) {
      if (event.keyCode == 13)
        this.register()
    }
  },

  mounted() {
    window.addEventListener("keypress", this.enterDown);
  },

  destroyed() {
    window.removeEventListener("keypress", this.enterDown);
  }
}
</script>