<template lang="pug">
  .extra-block.contacts
    .company_details.mt-5
      .d-flex.item(
        v-for="item in model.fields"
        :key="item.id"
      )
        v-text-field.fieldname(v-model="item.name" filled :label="$t('text.company_field_name')" :readonly="disabled")
        v-text-field.value(v-model="item.value" filled :label="$t('text.value')" :readonly="disabled")
        v-btn.ml-3.mt-3(icon @click="removeField(item)" :disabled="disabled")
          v-icon ic-delete

    v-btn(color="primary" @click="addField" :disabled="disabled") {{ $t('text.add_field') }}
    v-btn.ml-5(color="accent" @click="addCompanyFields" v-if="showCompanyButton" :disabled="disabled") {{ $t('text.add_company_fields') }}

</template>

<script>
import ExtraBlock from '@/mixins/ExtraBlockMixin'

export default {
  mixins: [ ExtraBlock ],
  computed: {
    showCompanyButton() {
      return this.$store.state.forms.projects.fields.company.details_show;
    }
  },
  methods: {
    addField() {
      this.model.fields.push({ id: this.$uuid.v4(),  name: this.$t('text.company_field_name'), value: null })
    },

    addCompanyFields() {
      const companyDetails = this.$store.state.forms.projects.fields.company.details
      companyDetails.forEach((item) => {
        this.model.fields.push({ id: this.$uuid.v4(),  name: item.name, value: item.value })
      })
    },

    removeField(item) {
      this.model.fields = this.model.fields.filter(x => x.id != item.id)
    }
  }
}
</script>