<template lang="pug">
  .extra-block.gallery
    v-text-field.mt-4(v-model="model.title" :label="$t('text.title')" :readonly="disabled")

    .editor.mt-5
      ckeditor(:editor="editor" v-model="model.description" :disabled="disabled")

    media-uploader.mt-8(
      :documents="model.media"
      resourceName="projects"
      :uuid="projectUUID"
      @added="onAdded"
      @deleted="onDeleted"
      :disabled="disabled"
    )
</template>

<script>
import ExtraBlock from '@/mixins/ExtraBlockMixin'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import MediaUploader from '@/components/forms/parts/uploaders/MediaUploader'
export default {
  mixins: [ ExtraBlock ],
  components: { MediaUploader },
  data() {
    return {
      editor: ClassicEditor
    }
  },
  methods: {
    onAdded(media) {
      this.model.media.push(media)
    },
    onDeleted(fileName, id) {
      this.model.media = this.model.media.filter(x => x.filename != fileName)
    }
  }
}
</script>