<template lang="pug">
  .extra-block.partners
    .items.d-flex.flex-column(
      v-for="(item, key) in model.items"
      :key="item.id"
    )

      .separator.mt-2.mb-4(v-if="key > 0")

      v-text-field(
        v-model="item.link"
        :label="$t('text.link')"
        :readonly="disabled"
      )


      media-uploader(
        :documents="item.media"
        resourceName="projects"
        :uuid="projectUUID"
        :return="item.id"
        @added="onAdded"
        @deleted="onDeleted"
        :disabled="disabled"
      )

    v-btn(color="primary" @click="addField" :disabled="disabled") {{ $t('text.add_item') }}

</template>

<script>
import ExtraBlock from '@/mixins/ExtraBlockMixin'
import MediaUploader from '@/components/forms/parts/uploaders/MediaUploader'
export default {
  components: { MediaUploader },
  mixins: [ ExtraBlock ],
  methods: {
    addField() {
      this.model.items.push({ id: this.$uuid.v4(),  link: null, media: [] })
    },
    onAdded(model, id) {
      this.model.items.find(x => x.id === id).media.push(model)
    },
    onDeleted(fileName, id) {
      this.model.items.find(x => x.id === id).media = this.model.items.find(x => x.id === id).media.filter(x => x.filename != fileName)
    }
  }
}
</script>
