<template lang="pug">
  .extra-block.registration

    .spacer(style="height:5px;")


    .d-flex(
      v-for="field in model.fields"
      :key="field.id"
    )
      v-text-field(
        v-model="field.name"
        :label="$t('text.form_field')"
        :readonly="disabled"
      )

      v-select.ml-5(:items="dataTypes" v-model="field.type" :disabled="disabled")

    v-btn(color="primary" @click="addField" :disabled="disabled") {{ $t('text.add_item') }}

</template>

<script>
import ExtraBlock from '@/mixins/ExtraBlockMixin'

export default {
  mixins: [ ExtraBlock ],
  data: function() {
    return {
      dataTypes: [
        { text: this.$t('text.text_field'), value: 'text' },
        { text: this.$t('text.email_field'), value: 'email' },
        { text: this.$t('text.textarea'), value: 'textarea' },
      ]
    }
  },
  methods: {
    addField() {
      //console.log(this.model)
      this.model.fields.push({ id: this.$uuid.v4(),  name: this.$t('text.field_name'), type: 'text' })
    }
  }
}
</script>

<style lang="scss">
.extra-block.registration{
  .v-select {
    flex: none;
    max-width: 200px;
  }

}
</style>