<template lang="pug">
  v-btn(@click="$emit('input')" :disabled="disabled" :color="color" :small="small" :dark="dark")
    v-icon(
        v-if="icon"
        :right="icon_right"
        :left="icon_left"
        :dark="dark"
    ) {{ icon }}
    span(v-if="!hidden_xs") {{ label }}

</template>


<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Default label'
    },
    color: {
      type: String,
      default: 'white'
    },
    small: {
      type: Boolean,
      defalut: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: null,
    },
    iconRight: false,
    iconLeft: false,
    dark: false,
    hiddenXS: false
  },

  computed: {
    hidden_xs() {
      return this.hiddenXS && this.$vuetify.breakpoint.xs
    },

    icon_right() {
      return !this.hidden_xs && this.iconRight
    },

    icon_left() {
      return !this.hidden_xs && this.iconLeft
    }
  },
}



</script>