<template lang="pug">
div
  v-data-table(
    :headers="tableHeaders",
    :items="tableItems",
    :class="classes",
    :loading="tableFetching",
    :items-per-page="tableFilter.per_page"
    hide-default-footer,
    mobile-breakpoint="900"
  )
    template(v-slot:top)
      slot(name="table-actions")
        v-toolbar(elevation="0" rounded v-bind="toolbarBinds")
          v-toolbar-title {{ title }}
          v-spacer
          component(
            v-for="(action, index) in tableActions"
            :key="index"
            :is="action.component"
            v-on="action._events"
            v-bind="action._props"
          )
      slot(name="table-top")
      .table-filter.mt-3
        .row
          .col-sm-auto(v-for="(action, index) in tableActionsFilters", :key="index")
            component(
              :is="action.component"
              v-on="action._events"
              v-bind="action._props"
            )

    template(v-slot:item.name="{ item }")
        slot(name="item-name" :item="item")
          | {{ item.name }}

    template(v-slot:item.action="{ item }")
        slot(name="item-actions" :item="item")
          v-icon(
            v-for="(act, index) in tableItemActions"
            :key="index"
            class="mr-2" small
            @click="act.click(item, self)"
          ) {{ act.icon }}
          slot(name="item-actions-append" :item="item")
    template(v-slot:no-data)
      .px-5.py-5 NO DATA
  .pagination.d-flex.justify-space-between
    .pagination__select.d-flex
      span.text-caption {{ $t('text.rows_per_page') }}
      v-select.small(
        persistent-hint,
        :items="itemsPerPage",
        v-model="tableFilter.per_page",
      )
    .d-flex.align-center
      span.text-caption {{ paginationText }}
      v-pagination(
        v-model="tableFilter.page",
        :length="tablePagination.total_pages"
        :total-visible="5"
      )
</template>

<script>
export default {
  props: {
    tableFilter: {
      type: Object,
      default: () => {
        return {};
      },
    },
    tableActionsFilters: {
      default: () => {
        return {};
      },
    },
    tablePagination: {
      type: Object,
      default: () => {
        return {};
      },
    },
    tableHeaders: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableItems: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableActions: {
      type: Array,
      default: () => {
        return {};
      },
    },
    tableItemActions: {
      type: Object,
      default: () => {
        return {};
      },
    },
    elevation: {
      type: Number,
      default: 1,
    },
    tableFetching: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      default: "",
    },
    modName: {
      type: String,
      default: null,
    },
    toolbarDark: { type: Boolean, default: true },
    toolbarTheme: { type: String, default: 'theme--gradient'}
  },

  data() {
    return {
      itemsPerPage: [10, 20, 30],
    };
  },

  computed: {
    paginationText() {
      const startItem =
        (this.tableFilter.page - 1) * this.tableFilter.per_page + 1;
      const endItem =
        this.tableFilter.page * this.tableFilter.per_page >
        this.tablePagination.total
          ? this.tablePagination.total
          : this.tableFilter.page * this.tableFilter.per_page;
      return startItem + "-" + endItem + " of " + this.tablePagination.total;
    },
    self() {
      return this;
    },
    classes() {
      //console.log('classes', this.elevation)
      return ["elevation-" + this.elevation];
    },
    toolbarBinds() {
      return {
        class: this.toolbarTheme,
        dark: this.toolbarDark
      }
    }
  },
};
</script>
