<template lang="pug">
  v-data-table(
      :headers="tableHeaders"
      :items="tableItems"
      :class="classes"
      mobile-breakpoint="900"
    )
      template(v-slot:top)
        slot(name="table-actions")
          v-toolbar(elevation="0" rounded v-bind="toolbarBinds")
            v-toolbar-title {{ title }}
            v-spacer
            component(
              v-for="(action, index) in tableActions"
              :key="index"
              :is="action.component"
              v-on="action._events"
              v-bind="action._props"
            )
        slot(name="table-top")



      template(v-slot:item.name="{ item }")
        slot(name="item-name" :item="item")
          | {{ item.name }}
      //-template(v-slot:item="{ item }")
        slot(name="item" :item="item")

      template(v-slot:item.action="{ item }")
        slot(name="item-actions" :item="item")
          v-icon(
            v-for="(act, index) in tableItemActions"
            :key="index"
            class="mr-2" small
            @click="act.click(item, self)"
          ) {{ act.icon }}
          slot(name="item-actions-append" :item="item")

      template(v-slot:no-data)
        .px-5.py-5 NO DATA
</template>

<script>
export default {

  props: {
    tableHeaders: {
      type: Array,
      default: () => { return [] }
    },
    tableItems: {
      type: Array,
      default: () => { return [] }
    },
    tableActions: {
      type: Array,
      default: () => { return {} }
    },
    tableItemActions: {
      type: Object,
      default: () => { return {} }
    },
    elevation: {
      type: Number,
      default: 1
    },
    title: {
      type: String,
      default: ''
    },
    toolbarDark: { type: Boolean, default: true },
    toolbarTheme: { type: String, default: 'theme--gradient'}
  },

  computed: {
    self() {
      return this
    },
    classes() {
      //console.log('classes', this.elevation)
      return [
        'elevation-' + this.elevation
      ]
    },
    toolbarBinds() {
      return {
        class: this.toolbarTheme,
        dark: this.toolbarDark
      }
    }
  },
}
</script>