<template lang="pug">
.media-uploader
  v-btn(v-show="this.documents.length", @click="downloadComponent", :loading="loadingDownloadComponent", class="ml-3") {{ $t('text.download_component_images') }}
  v-row.only-preview(v-if="showPreview")
    v-col(
      v-for="file in previewFiles",
      cols="12",
      sm="6",
      md="4",
      :key="file.uuid"
    )
      a(:href="file.src", target="_blank")
        v-img.image.hover(:src="file.src", width="100%", height="200px")

  FilePond.dashed.my-2(
    v-else,
    name="document",
    ref="pond",
    :labelIdle="$t('text.click_or_drop_here_media_files')",
    accepted-file-types="image/*",
    allowRevert="true",
    allowMultiple="true",
    instantUpload="true",
    :server="server",
    :files="files",
    @removefile="handleDeleteFile",
    @onprocessfile="handleDeleteFile",
    imagePreviewHeight="256",
    :disabled="disabled"
  )
</template>

<script>
import vueFilePond from "vue-filepond";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import FilePondPluginImageResize from "filepond-plugin-image-resize";
import FilePondPluginImageTransform from "filepond-plugin-image-transform";
import FilePondPluginImageCrop from "filepond-plugin-image-crop";
import Auth from "@/plugins/auth";
import ModMixin from '@/mixins/ModMixin.js'

export default {
  components: {
    FilePond: vueFilePond(
      FilePondPluginFileValidateType,
      FilePondPluginImageResize,
      FilePondPluginImageCrop,
      FilePondPluginImagePreview,
      FilePondPluginImageTransform
    ),
  },
  mixins: [ ModMixin ],
  props: {
    documents: {
      type: Array,
      default: () => {
        return [];
      },
    },
    uuid: {
      type: String,
      default: null,
    },
    resourceName: {
      type: String,
      default: null,
    },
    return: {
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      modName: this.resourceName,
      loadingDownloadComponent: false,
      files: this.documents.map((x) => {
        return {
          source: x.filename,
          options: {
            type: "local",
          },
        };
      })
    }
  },
  computed: {
    server() {
      return {
        headers: Auth.getAuthHeaders(),
        url: process.env.VUE_APP_API + `/${this.resourceName}/${this.uuid}/`,
        load: {
          url: "document-load/",
        },
        process: {
          url: "document-upload",
          onload: this.handleProcessFile,
        },
        revert: {
          url: "document-delete",
          onload: this.handleRevertFile,
        },
        restore: null,
        fetch: null,
      };
    },
    showPreview() {
      return this.disabled && !this.$user().isClient();
    },

    previewFiles() {
      return this.documents.map((x) => {
        return {
          uuid: x.uuid,
          src:
            process.env.VUE_APP_BACKEND +
            "/" +
            x.directory.replaceAll("\\", "/") +
            "/" +
            x.filename,
        };
      });
    },
  },

  methods: {
    handleProcessFile(resp) {
      let model = JSON.parse(resp);
      console.log("handled upload:", model);
      this.$emit("added", model, this.return);
      return model.filename;
    },

    processUpload() {
      return this.$refs.pond.processFiles();
    },

    handleDeleteFile(error, file) {
      if (error) {
        return "";
      }

      this.$emit("deleted", file.filename, this.return);
    },

    handleRevertFile(uuid) {
      this.$emit("deleted", uuid, this.return);
    },

    activatedFile(file) {
      console.log("activated file", file);
    },

    async downloadComponent() {
      this.loadingDownloadComponent = true;
      await this.formDispatch('DOWNLOAD_ALL_MEDIA', { files: this.documents.map(i => i.filename) });
      this.loadingDownloadComponent = false;
    }
  },
};
</script>
