<template lang="pug">
.profile-setting
  .row.justify-center
    .col-md-4.col-12
      v-list
        v-list-item(link="")
          v-list-item-content
            v-list-item-title.title
              | {{ user.name }}
            v-list-item-subtitle {{ user.email }}
          v-list-item-action
            v-icon mdi-menu-down
      v-divider
      v-list(nav="", dense="")
        v-list-item-group(v-model="selectedItem", color="primary")
          v-list-item(v-for="(item, i) in items", :key="i")
            v-list-item-content
              v-list-item-title(v-text="item.text") text.account_information

    .col-md-8.col-12
      formPreferences(v-if="0 === selectedItem")
</template>

<script>
import formPreferences from "@/pages/profile/FormPreferences";

export default {
  components: {
    formPreferences,
  },
  data() {
    return {
      selectedItem: 0,
    };
  },
  computed: {
    pageTitle() {
      return this.$t("text.menu_profile");
    },
    items() {
      return [
        { text: this.$t("text.account_information") },
        { text: this.$t("text.email_settings") },
      ];
    },
    user() {
      return this.$store.state.auth.user;
    },
  },
};
</script>
