.public {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .language-select {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
  }

  .login, .register, .password-reset {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 0;

    &:before,
    &:after {
      content: '';
      display: block;
    }

    .logo {
      position: relative;
      transition: transform 0.5s;
    }
    .logo:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }

    .v-sheet:not(.v-alert) {
      padding: 50px;
      border-radius: 10px;
      background: url('~@/assets/images/curve-top-right.png') top right no-repeat transparent;
    }

    .logo {
      z-index: 10;
    }

    .title {
      position: relative;
      font-weight: 800;
      font-size: 1.1em !important;

      .v-icon {
        right: 0px;
        top:0px;
        position: absolute;
      }
    }

    .small {
      display: inline;
      font-size: 1em;
      color: #888;
    }

    .submit.v-btn {
      width: 100%;
    }

    .bottom {
      color: #999;
    }
  }

  .login .v-sheet, .password-reset .v-sheet { max-width: 450px; min-width: 450px; }

  .register {
    //background:red;
    .v-sheet {
      min-width: 900px;
    }

    .small {
      width:550px;
    }

    .terms {
      display: flex;
      height: 52px;
      margin-top:20px;
      font-size: 0.9em;
      color: #666;
      align-items: center;
    }
  }

  @media screen and (max-width: 1000px) {

    .login, .register, .password-reset {
      //background: red;
      padding: 50px;
      .v-sheet {
        width: 100%;
        min-width: auto;
      }

    }
  }

}

