@import './auth.scss';


.page {
  position: relative;
  //min-height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px $body-pad $body-pad;

  @media #{map-get($display-breakpoints, 'xs-only')} {
    padding: 0px ($body-pad / 2) ($body-pad / 2);
  }
}

