<template lang="pug">
  .d-flex.flex-column.mb-5
    .input-group
      v-text-field(:label="$t('text.your_domain_name') + ' (example.com)'" v-model="realvalue" :readonly="isLocked" filled hide-details)
        v-icon(v-if="showStatusSuccess" slot="append" color="green") ic-check
        //-v-icon(v-else-if="showStatusError" slot="append" color="red") ic-close

      v-btn(:color="btnColor" @click="btnClick" :loading="isLoading" :disabled="isLocked") {{ btnTitle }}
    .error-text.mt-2(v-if="error") {{ error }}
</template>

<script>
export default {
  props: {
    error: { type: String, default: null },
    is_locked: { type: Boolean, default: false },
    registered: { type: String, default: null },
    value: { type: String, default: null },
    domain_whmcs: {}
  },
  data: function() {
    return {
      isLoading: false,
      available: null,
      checked: false,
      realvalue: this.value,
    }
  },

  computed: {

    isLocked() {
      return this.is_locked || this.domain_whmcs ? true : false
    },

    btnColor() {
      return this.checked || this.domain_whmcs ? 'primary' : ''
    },
    btnTitle() {
      if (this.domain_whmcs)
        return 'Registered'

      return this.checked ? 'Register' : 'Check'
    },

    isDisabled() {
      return this.disabled || this.registered
    },

    showStatusSuccess() {
      return this.available
    },

    showStatusError() {
      return this.available === false || this.error
    }
  },

  watch: {
    realvalue: function(newVal, oldVal) {
      this.reset()
    }
  },

  methods: {
    btnClick() {
      (this.checked)
        ? this.register()
        : this.check()
    },

    register() {
      this.isLoading = true
      this.$store.dispatch('forms/projects/DOMAIN_REGISTER', this.realvalue)
        .then(() => {
          this.isLoading = false
          this.$store.commit('ADD_NOTIFICATION', this.$t('text.domain_registered_successfully'))
          this.$root.$emit('save-form')
        })
        .catch((err) => {
          this.isLoading = false
        })
    },

    reset() {
      this.isLoading = false
      this.checked = false
      this.available = null
      //this.error = null
      this.$store.commit('forms/projects/SET_ERROR', { field: 'domain_whmcs', value: null })
    },

    check() {
      this.isLoading = true
      this.$store.dispatch('forms/projects/DOMAIN_CHECK', this.realvalue)
        .then(resp => {
          this.available = resp.available
          this.isLoading = false
          if (this.available)
            this.checked = true
          else
            this.$store.commit('forms/projects/SET_ERROR', { field: 'domain_whmcs', message: this.$t('text.domain_is_unavailable') })
        })
        .catch(() => {
          this.reset()
          this.$store.commit('forms/projects/SET_ERROR', { field: 'domain_whmcs', message: this.$t('text.oops_server_error_try_again_later') })
        })
    }
  }
}
</script>


<style lang="scss">
  .input-group {
    display: flex;
    //background:red;

    .v-btn {
      height: auto !important;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .v-input {
      border-top-right-radius: 0px;
    }
  }
</style>