<template lang="pug">
  .field-container
    h2.field-title {{ title }}
    .field-subtitle.mb-2 {{ subtitle }}
    slot
    add-comment(:commentField="commentField")

</template>

<script>
import AddComment from './CommentAdd'

export default {
  components: { AddComment },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    commentField: {
      type: String,
      default: null
    }
  }
}
</script>
