<template lang="pug">
  draggable.main-drag(
    tag="div"
    :list="list"
    :value="value"
    :group="{ name: 'ggg1' }"
    animation="300" :fallbackOnBody="true" swapThreshold="0.9"
    ghostClass="ghost"
    @input="emitter"
    @change="onChange"
    handle=".handle"
    :disabled="disabled"
  )
    .item-group(v-for="e in realValue" v-if="isItemVisible(e)" :key="e.uuid" :class="{ 'single': !nestable }")

      v-sheet.label(elevation="1")
        v-btn.handle(fab icon small :disabled="disabled")
          v-icon ic-open-with
        v-text-field.ma-2(v-model="e.name" dense :readonly="disabled" counter="50")
        v-btn(fab icon small @click="remove(e)" :disabled="disabled")
          v-icon(small) ic-delete

      nested-draggable.drag-area(
        v-if="nestable"
        :list="e.elements"
        :child="true"
        :class="dragAreaClasses(e)"
        @change="onChange"
        :disabled="disabled"
        :nestable="nestable"
      )


</template>


<script>
import draggable from "vuedraggable";
export default {
  name: "nested-draggable",
  props: {
    list: {
      type: Array,
      required: false,
      default: null
    },
    value: {
      required: false,
      type: Array,
      default: null
    },
    child: false,
    disabled: false,
    nestable: true,
  },
  components: { draggable },
  computed: {
    realValue() {
      return this.value ? this.value : this.list
    }
  },
  methods: {
    dragAreaClasses(item) {
      const items = item.elements ?? []
      return {
        'has-items': items.length
      }
    },
    emitter(value) {
      this.$emit("input", value);
    },
    onChange: function() {
      if (this.child === true) {
        this.$emit("change")
      } else {
        this.emitter(this.value)
      }
    },
    remove(item) {
      this.$root.$emit('remove-item', item)
    },

    isItemVisible(item) {
      return !item.deleted
    }
  }

}
</script>
<style lang="scss" scoped>

  .main-drag {
    min-width: 50px;
    //background: rgba(red,0.1);

    .item-group {

      &.single:not(:last-child) {
        margin-bottom: 10px;
      }

      .handle:hover {
        cursor: grab !important;
      }

      .label {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        background: rgba($cl-primary, 0.05);
      }
    }
  }

  .drag-area {
    //background-color: rgba(0, 0,0, 0.1);
    $border: 1px dashed rgba($cl-primary, 0.8);
    margin: 0px 20px 10px;
    padding: 10px;

    border-left: $border;
    border-right: $border;
    border-bottom: $border;
    border-bottom-left-radius: $border-radius-root;
    border-bottom-right-radius: $border-radius-root;

    &.show-border {
      border-color: rgba($cl-primary, 0.4);
    }

    &.has-items {

      margin-right: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      border-color: transparent;
    }
  }
</style>