<template lang="pug">
  v-row
    v-col(cols="12" md="8")
      slot

    v-col(cols="12" md="4")
      .tips(v-if="tipList.length > 0")
        h2 {{ $t('text.tip_container_title') }}

        .wrapper
          ul
            li(
              v-for="(tip, index) in tipList"
              :key="index"
            ) {{ tip }}
</template>

<script>
export default {
  props: {
    tips: {
      type: String,
      require: true
    }
  },

  computed: {
    tipList() {
      const all = this.$t('text.tips.' + this.tips)
      return (Array.isArray(all)) ? all : []
    }
  }
}
</script>

<style lang="scss">
  .tips {
    h2 {
      //padding-top: 30px;
      padding-bottom: 8px;
    }

    ul {
      list-style-type: square;

      li { padding: 5px 0px; }
    }

    .wrapper {
      padding: 15px;
      background: rgba(grey, 0.2);
    }
  }
</style>