@charset "UTF-8";

// @import '~@/assets/fonts/icofont/icofont.min.css';
// @import '~vuetify/src/styles/styles';



//@import './variables.scss';
@import 'variables';
@import 'tools/index';
@import 'generic/index';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


@import 'plugins/index';
@import 'components/index';
@import 'pages/index';



#hubspot-messages-iframe-container {
	display: none !important;
	visibility: hidden;
	opacity: 0;
}

body {
	min-height: 100vh;
}