// Vuetify overrides
$border-radius-root: 5px;

$grid-breakpoints: (
  xs: 0,
  sm: 900px,
  md: 1200px,
  lg: 1440px,
  xl: 1900px
);


// Layout
$topbar-height: 120px;
$body-pad: 50px;
$content-pad: 40px;

$table-pad: $content-pad;
$sheet-border-radius: $border-radius-root;
$button-border-radius: $border-radius-root;

// Body
$cl-body-primary: #f9f9f9;
$cl-body-accent: white;

// Typography
$font-montserrat: 'Montserrat', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;


$cl-primary: #4262ff;
$cl-secondary: #1c3196;
$cl-accent: #7e30f2;
$cl-error: #e03189;
$cl-info: #2196F3;
$cl-success: #4CAF50;
$cl-warning: #FFC107;

$next: 'ic-keyboard-arrow-right';
$dropdown: 'ic-expand-more';