<template>
  <v-navigation-drawer
      v-model="drawerState"
      absolute
      temporary
    >
      <h3 class="pa-3">{{ $t('text.menu') }}</h3>
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item to="/projects">
            <v-list-item-title>{{ $t('text.menu_projects') }}</v-list-item-title>
          </v-list-item>

          <v-list-item to="/users">
            <v-list-item-title>{{ $t('text.menu_users') }}</v-list-item-title>
          </v-list-item>

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      group: null,
    }
  },
  computed: {
    drawerState: {
      get() {
        return this.$store.state.menu_drawer
      },
      set(value) {
        this.$store.commit('SET_DRAWER', value)
      }
    }
  }
}
</script>