<style lang="scss">
@import "./sass/topbar.scss";
</style>
<template lang="pug">
  #topbar-navigation

    v-toolbar(flat)
      v-btn(
        v-if="$auth.getUser().is_admin"
        icon
        @click="toggleDrawer"
      )
        v-icon ic-menu

      .logo.small(@click="gotoHomeDashboard")
        version.topbar
      .flex-grow-1

      .account
        v-menu(offset-y)
          template(v-slot:activator='{ on, attrs }')
            v-btn(text, v-bind='attrs' v-on='on')
              span
                hide-late {{ $t('text.hi' ) }},&nbsp;
                b {{ accountName }}
              i.ml-3.v-icon.notranslate.ic.ic-expand-more.theme--light.primary--text(aria-hidden='true')

          v-list
            v-list-item
              router-link( to="/profile")
                v-btn(text)
                  v-icon.mr-2 ic-person
                  | {{ $t('text.menu_profile') }}
            v-list-item
              v-btn.logout(text @click="logout")
                v-icon.mr-2 ic-power-settings-new
                | {{ $t('text.menu_logout') }}
        AppLangSelect
        //-.profile
          .picture
      //-   hide-late.mr-2 Hi,
      //-   b {{ accountName }}

      //- template(v-if="$vuetify.breakpoint.smAndUp")
      //-   //-v-btn(icon)
      //-     v-icon mdi-bell-outline
      //-   //-v-btn(icon)
      //-     v-icon mdi-chat-outline
      //-   //-v-btn(icon @click="goToBlog")
      //-     v-icon(color="orange") mdi-blogger
      //-   .sep.mr-3
      //-   v-btn.logout.pr-3(text @click="logout")
      //-     v-icon.mr-2 ic-power-settings-new
      //-     | Logout
</template>

<script>
import IconedButton from "@front/components/common/IconedButton.vue";
import HideLate from "@front/components/common/HideLate.vue";
import AppLangSelect from "@front/components/molecules/AppLangSelect.vue";
import Version from "@front/components/common/Version.vue";

export default {
  components: {
    IconedButton,
    HideLate,
    AppLangSelect,
    Version
  },

  data() {
    return {
      iconSize: 15,
    };
  },

  computed: {
    accountName() {
      return this.$store.state.auth.account.name;
    },
  },

  methods: {
    gotoHomeDashboard() {
      this.$router.push("/")
    },

    logout() {
      this.$store.dispatch("auth/LOGOUT");
    },

    toggleDrawer() {
      this.$store.commit("SET_DRAWER", true);
    },
  },

  mounted() {
    console.log("gettt user", this.$auth.getUser());
  },
};
</script>
