<template lang="pug">
  parent(v-bind="formBind" @close="$emit('form-cancel')")
    template(v-slot:main)
      .bga-primary.pa-5(v-if="showDevUrl")
        | Host: 
        a(:href="modelData.dev_url" target="_blank") {{ modelData.dev_url }}
        .password(v-if="!$user().isClient()") Pass: {{ modelData.dev_password }}

      v-tabs.mt-10(vertical v-model="activeTab"  @change="onTabChange")
        v-tabs-slider(:color="sliderColor")
        v-tab.justify-start(
          v-for="item in tabItems"
          :key="item.tab"
          :href="'#' + item.tab"
          v-if="item.show"
          :class="{ 'has-corrections': hasTabErrors(item) }"
          @click="tabClicked(item)"
        )
          v-icon(v-if="hasTabErrors(item)") ic-priority-high
          v-icon() {{ item.icon }}
          span.d-none.d-sm-flex.ml-3 {{ item.label }}
        v-tabs-items(v-model="activeTab")
          v-tab-item.cpad.full-height(
            v-for="item in tabItems" :key="item.tab"
            v-if="item.show"
            transition="false" reverse-transition="false"
            :value="item.tab"
          )
            component(v-if="item.content" :is="item.content" v-bind="getComponentBinds(item)" @save="formBaseActionSave")

    template(v-slot:bottom v-if="!this.$user().isClient()")
      .section.chat
        tab-chat(:model="conversation" :isLocked="isLocked" :errors="errors")

</template>

<script>
import * as PStatus from '@models/projects/statuses'
import fieldGenerator from '@/components/forms/fieldGenerator'
import Button from '@/components/common/buttons/Button'
import VButton from '@/components/common/buttons/VBtn'
import FormMixin from '@front/mixins/FormMixin'
import domain from '@/scripts/domain'

import TabFirst from './wizard/AFirst'
import TabBasic from './wizard/Basic'
import TabCompany from './wizard/Company'
import TabWebsite from './wizard/Website'
import TabWebsiteCom from './wizard/WebsiteCom'
import TabBranding from './wizard/Branding'
import TabStyle from './wizard/Style'
import TabSitemap from './wizard/Sitemap'
import TabContent from './wizard/Content'
import TabCategories from './wizard/Categories'
import TabProducts from './wizard/Products'
import TabPayments from './wizard/Payments'
import TabServices from './wizard/Services'
import TabDelegate from './wizard/Delegate'
import TabFixes from './wizard/Fixes'
import TabChat from './wizard/Chat'
import TabSubmit from './wizard/Submit'

export default {
  components: { TabFirst, TabBasic, TabCompany, TabWebsite, TabWebsiteCom, TabBranding,
    TabSubmit, TabContent, TabCategories, TabPayments, TabProducts, TabFixes,
    TabChat  },
  mixins: [ FormMixin('projects') ],

  data: function() {
    return {
      sliderColor: 'primary',
      //activeTabIndex: '',
      activeTab: 'create',
      showDelegateBtn: false,
      validateFields: false,
    }
  },
  computed: {
    isShop() {
      return this.create_type == 'shop'
    },
    tabItems() {
      return  [
        { tab:'fix', show: this.showFixes, label: this.$t('text.project_menu_fixes'), icon: 'ic-check-box', content: TabFixes },
        { tab:'create', show: true, label: this.$t('text.project_menu_create'), icon: 'ic-call-split', content: TabFirst, next: 'basic', prev: false },
        { tab:'basic', show: true, label: this.$t('text.project_menu_basic'), icon: 'ic-fingerprint', content: TabBasic, bindModel: 'basic',       next: 'company', prev: 'create' },
        { tab:'company', show: true, label: this.$t('text.project_menu_company'), icon: 'ic-business', content: TabCompany, bindModel: 'company',  next: 'website', prev: 'basic' },
        { tab:'website', show: true, label: this.$t('text.project_menu_resources'), icon: 'ic-globe', content: domain.isCOM() ? TabWebsiteCom : TabWebsite, bindModel: 'website',     next: 'logo', prev: 'company' },
        { tab:'logo', show: true, label: this.$t('text.project_menu_logo'), icon: 'ic-visibility', content: TabBranding, bindModel: 'branding',    next: 'style', prev: 'website' },
        { tab:'style', show: true, label: this.$t('text.project_menu_style'), icon: 'ic-style', content: TabStyle, bindModel: 'style',                   next: 'sitemap', prev: 'logo' },
        { tab:'sitemap', show: true, label: this.$t('text.project_menu_sitemap'), icon: 'ic-sitemap', content: TabSitemap, errors:['sitemap'],             next: 'content', prev: 'style' },
        { tab:'content', show: true, label: this.$t('text.project_menu_content'), icon: 'ic-view-day', content: TabContent, bindModel:'sitemap', errors:['sc_title', 'sc_content', 'content'],     next: 'categories', prev: 'sitemap' },
        { tab:'categories', show: this.isShop, label: this.$t('text.project_menu_categories'), icon: 'ic-make-group', content: TabCategories, errors:['categories'],     next: 'products', prev: 'content' },
        { tab:'products', show: this.isShop, label: this.$t('text.project_menu_products'), icon: 'ic-shopping-basket', content: TabProducts, bindModel:'categories',  next: 'payment', prev: 'categories' },
        { tab:'payment', show: this.isShop, label: this.$t('text.project_menu_payment'), icon: 'ic-payment', content: TabPayments, bindModel: 'payment',                   next: 'submit', prev: 'products' },
        //{ tab:'services', show: true, label: 'Services', icon: 'ic-attach-money', content: TabServices, bindModel: 'extra_services',              next: 'submit', prev: 'payment' },
        { tab:'submit', show: this.$user().isClient(), label: this.$t('text.project_menu_submit'), icon: 'ic-flight', content: TabSubmit,                                    next: false, prev: 'payment' },
        { tab:'options', show: !this.$user().isClient(), label: this.$t('text.project_menu_options'), icon: 'ic-share', content: TabDelegate, bindModel: 'delegate' },
        //{ tab:'chat', show: !this.$user().isClient(), label: 'Chat', icon: 'ic-chat-bubble-outline', click: this.chatClick },
      ]
    },

    showDevUrl() {
      return this.modelData.dev_url && this.status_id == PStatus.PROJECT_READY_FOR_REVIEW
    },

    activeTabItem() {
      return this.tabItems.find(x => x.tab == this.activeTab)
    },

    showFixes() {
      return this.status_id >= PStatus.PROJECT_READY_FOR_REVIEW
    },
    isFixesDisabled() {
      return this.status_id != PStatus.PROJECT_READY_FOR_REVIEW || !this.$user().isClient()
    },

    isCompleteDisabled() {
      return this.status_id != PStatus.PROJECT_READY_FOR_REVIEW
            && this.status_id != PStatus.PROJECT_FIX_READY_FOR_REVIEW
    },

    formDelegateBtn() {
      return (this.showDelegateBtn)
            ? {label: 'Save options', icon: 'ic-share', evinput: this.saveDelegations, component: Button, flat: true, small: true, color:'primary', order: 1 }
            : false
    },

    formActions() {

      let nonClient = {
        cancel: false,
        //save: false,
        save_comments: { label: this.$t('text.save_comments'), icon: 'ic-done', evinput: this.saveComments, component: Button, flat: true, small: true, color:'primary', order: 99 },
        delegate: this.formDelegateBtn
      }

      if (!this.$user().isSuperAdmin())
        nonClient.save = false


      if (this.$user().isDesigner()) {
        nonClient.save_comments = false;
        return nonClient
      }
      else if(!this.$user().isClient())
        return nonClient

      // Client actions
      if (this.is_locked)
        return {
          cancel: false,
          save: false,
          fixes: { label: this.$t('text.send_fixes'), icon: 'ic-done', evinput: this.saveFixes, component: Button, flat: true, small: true, color:'primary', order: 99, disabled: this.isFixesDisabled },
          complete: { label: this.$t('text.complete_application'), class:'theme--gradient', icon: 'ic-done', evinput: this.complete, component: VButton, color:'primary', order: 1, disabled: this.isCompleteDisabled },
        }

      return {
        prev: { label: this.$t('text.previous'), icon: 'ic-chevron-left', evinput: this.previousClick, iconLeft: true, component: VButton, dark: true, small: false, color:'#aaa', order: 1, disabled: !this.canPrev, hiddenXS: true },
        next: { label: this.$t('text.next'), icon: 'ic-chevron-right', evinput: this.nextClick, iconRight: true, component: VButton, dark: true, small: false, color:'primary', order: 100, class:'reversed ml-3', disabled: !this.canNext, hiddenXS: true },
      }
    },

    canPrev() {
      return this.activeTabItem.prev ? true : false
    },

    canNext() {
      return  this.activeTabItem.next ? true : false
    },

    isLocked() {
      if (this.$user().isSuperAdmin()) return false

      return (this.is_locked || !this.$user().isClient()) ? true : false
    }
  },

  methods: {
    fetchData(id) {
      this.repoDispatch('API_FIND', id)
    },

    getComponentBinds(tabItem) {
      return {
        model: (tabItem.bindModel) ? this[tabItem.bindModel] : {},
        isLocked: this.isLocked,
        errors: this.errors
      }
    },

    tabClicked(tab) {
      this.showDelegateBtn = (tab.tab == 'options') ? true : false;

      if (tab.click)
        tab.click()
    },

    saveComments() {
      this.formDispatch('SAVE_COMMENTS')
    },

    saveFixes() {
      this.formDispatch('SEND_FIXES')
    },

    saveDelegations() {
      this.formDispatch('DELEGATE')
    },

    complete() {
      this.formDispatch('COMPLETE')
    },

    hasTabErrors(tabItem) {
      return this.hasTabCorrections(tabItem) || this.hasTabError(tabItem)
    },

    hasTabCorrections(tabItem) {
      return this.tabErrorCount(tabItem, this.comments)
    },

    hasTabError(tabItem) {
      return this.tabErrorCount(tabItem, this.errors)
    },

    tabErrorCount(tabItem, models) {
      if (!tabItem)
        return false

      let models2check = tabItem.errors ?? null
      if (!models2check && tabItem.bindModel)
        models2check = [ tabItem.bindModel ]

      if (!Array.isArray(models2check))
        return false

      let count = 0
      models2check.forEach(x => {
        count += this.countObjectItems(models, x)
      })
      return count > 0
    },

    countObjectItems(obj, inspect = false) {
      const o = (inspect) ? obj[inspect] : obj

      if (!o)
        return 0

      let count = 0
      if (typeof o == 'string')
        count = 1 // one item found.
      else
        Object.keys(o).forEach(x => {
          const val = o[x]
          if (val && !Array.isArray(val))
            count++
        })

      return count
    },

    onTabChange() {
      this.$nextTick(() => {
        this.sliderColor = (this.hasTabError(this.activeTabItem)) ? 'accent' : 'primary'
      })
    },

    previousClick() {
      if (!this.canPrev)
        return;

      //console.log(this.activeTabItem, this.activeTab)
      this.formBaseActionSave()
      this.activeTab = (!this.isShop && this.activeTab == 'submit')
        ? 'content'
        : this.activeTabItem.prev
    },

    nextClick() {
      if (!this.canNext)
        return;

      //console.log(this.activeTabItem, this.activeTab)
      this.formBaseActionSave()
      this.activeTab = (!this.isShop && this.activeTab == 'content')
        ? 'submit'
        : this.activeTabItem.next
    },

    chatClick() {
      console.log('chat has been clicked...')
    }
  },

  mounted() {
    this.$root.$on('save-form', this.formBaseActionSave)
    this.$root.$on('cancel-form', this.formBaseActionCancel)
  },
  destroyed() {
    this.$root.$off('save-form', this.formBaseActionSave)
    this.$root.$off('cancel-form', this.formBaseActionCancel)
  }
}
</script>

