<template lang="pug">
v-card.v-data-table
  data-page(v-bind="dataBind")
    template(v-slot:item-name="{ item }")
      a(@click="tableItemActionEdit(item)") {{ item.name }}

    template(v-slot:placeholder)
      .full-height.centerize
        .placeholder.compact
          v-img(
            :src="require('@/assets/images/placeholders/main.png')",
            width="700",
            height="200"
          )
          h1.text-center.mt-10 {{ $t('text.welcome') }}!
          p.text-center.hpad
            | {{ $t('text.dna_is_a_molecule_that_contains_our_unique_genetic_code') }}
            br
            br
            | {{ $t('text.be_the_creator_and_give_life_to_your_website') }}

          v-btn.mb-10(color="primary", @click="tableActionCreate", x-large) {{ $t('text.create_application') }}
</template>

<script>
import PageMixin from "@front/mixins/DataPageAdvanceMixin";
import Button from "@/components/tables/parts/ToolbarBtn";
import FilterTextField from '@/components/tables/parts/FilterTextField';
import FilterDatePicker from '@/components/tables/parts/FilterDatePicker';
import FilterSelect from '@/components/tables/parts/FilterSelect';

export default {
  mixins: [PageMixin],

  data: function() {
    return {
      modName: "projects",
      formHasDocuments: false,
      tableItemActions: {
        delete: false,
      },
      //placeholder: this.$refs.dtp.showCustomPlaceholder
    };
  },
  computed: {
    pageTitle() {
      return this.$t("text.menu_projects")
    },
    tableActions() {
      const video = { icon: 'ic-help', component: Button, link: 'https://www.youtube.com/watch?v=fg9bn_7t6cE&ab_channel=WAcademyEurope', target:"_blank" }
      return !this.$user().isClient() ? { video, add: false } : { video, add: { evclick: this.onAddButtonClick } };
    },

    tableActionsFilters() {
      let filterSet= [{ evupdate: this.setFieldFilter, component: FilterTextField, field: 'q', label: this.$t('text.search') , value: this.tableFilter['q']}];
      if(this.$user().isManager() || this.$user().isAdmin()) {
        filterSet.push({
          evupdate: this.setFieldFilter,
          component: FilterTextField,
          field: 'user_email',
          label: this.$t('text.client_email'),
          value: this.tableFilter['client']
        });
      }
      filterSet.push({ evupdate: this.setFieldFilter, component: FilterSelect, field: 'project_statuses', label: this.$t('text.status'), value: this.tableFilter['project_statuses'], options: this.projectStatuses});
      filterSet.push({ evupdate: this.setFieldFilter, component: FilterDatePicker, field: 'start_date', label: this.$t('text.date_from'), value: this.tableFilter['start_date']});
      filterSet.push({ evupdate: this.setFieldFilter, component: FilterDatePicker, field: 'end_date', label: this.$t('text.date_to'), value: this.tableFilter['end_date']});
      //filterSet[] = { evupdate: this.setFieldFilter, component: FilterSelect, field: 'managers', label: this.$t('text.manager'), value: this.tableFilter['managers'], options: this.managers },
      //filterSet[] = { evupdate: this.setFieldFilter, component: FilterSelect, field: 'users', label: this.$t('text.created_by'), value: this.tableFilter['users'], options: this.users },

      return filterSet;
    },

    tableFilter() {
      return this.$store.getters[this.repoPath('TABLE_FILTER')]
    },

    tableHeaders() {
      const headers = [
        {
          text: this.$t("text.name"),
          align: "left",
          value: "name",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.manager"),
          value: "manager_name",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.designer"),
          value: "designer_name",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.deadline"),
          value: "delegate.deadline",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.statuses.completed"),
          value: "completed_at",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.status"),
          value: "status_name",
          class: "text-capitalize",
        },
        {
          text: this.$t("text.actions"),
          value: "action",
          sortable: false,
          align: "right",
          class: "text-capitalize",
        },
      ];

      if (!this.$user().isClient()) {
        headers.splice(3, 0, {
          text: this.$t("text.reminder"),
          value: "delegate.reminder",
          class: "text-capitalize",
        });
        headers.splice(2, 0, {
          text: this.$t("text.reminder"),
          value: "delegate.reminder",
          class: "text-capitalize",
        });
      }

      return headers;
    },

    managers() {
      // user_type_id
      let managers = [];
      managers = this.$store.getters["repositories/users/ACTIVE_ITEMS"]
        .filter((i) => {
          return (i.user_type_id == 3); //todo update to user isAdmin instead of hard code = 3
        })
        .map((i) => {
          return {
            text: i.email,
            value: i.uuid,
          };
        });
      return managers;
    },

    users() {
      // user_type_id
      let users = [];
      users = this.$store.getters["repositories/users/ACTIVE_ITEMS"].map(
        (i) => {
          return {
            text: i.email,
            value: i.uuid,
          };
        }
      );
      return users;
    },

    projectStatuses() {
      return this.$store.state.passives.project_statuses.map((item) => {
        return {
          text: this.$t("text.statuses." + item.name_code),
          value: item.id,
        };
      });
    },
  },

  methods: {
    onAddButtonClick() {
      if (this.$user().project_count > 0)
        this.$store.commit('ADD_NOTIFICATION', this.$t('text.you_can_t_create_more_projects'))
      else
        this.tableActionCreate()
    },

    onCreateClick() {
      this.formCommit("UPDATE_STATE", {
        field: "title",
        value: 'text.create_new_project',
      });
      this.formCommit("UPDATE_FIELD", {
        field: "uuid",
        value: this.$uuid.v5(new Date().toString(), this.$user().uuid)
      });
      this.formCommit("SET_DEPARTMENT", this.$store.state.config.department_id)
      this.$router.push({ name: "projectCreate" });
    },

    onEditClick(model) {
      this.$router.push({ name: "projectEdit", params: { id: model.uuid } });
      const name = model.name;
      this.formCommit("UPDATE_STATE", {
        field: "title",
        value: name && name != "" ? name : this.$t('text.undefined_project'),
      });
    },

    setFilters() {
      if (Object.keys(this.$route.query).length) {
        let project_statuses = [];
        switch (typeof this.$route.query.project_statuses) {
          case "string":
            project_statuses = [parseInt(this.$route.query.project_statuses)];
            break;
          case "object":
            project_statuses = this.$route.query.project_statuses.map((i) =>
              parseInt(i)
            );
            break;
        }
        this.repoCommit("SET_FILTERS", {
          page: parseInt(this.$route.query.page) || 1,
          per_page: parseInt(this.$route.query.per_page) || 10,
          q: this.$route.query.q || undefined,
          project_statuses,
          managers:
            typeof this.$route.query.managers === "object"
              ? this.$route.query.managers
              : [],
          users:
            typeof this.$route.query.users === "object"
              ? this.$route.query.users
              : [],
          start_date: this.$route.query.start_date || undefined,
          end_date: this.$route.query.end_date || undefined,
        });
      }
    },
  },

  mounted() {
    if (!this.$store.state.auth.is_logged_in) this.$router.push("login");
  },
};
</script>
