<template lang="pug">
  div
    component(
      :is="formComponent",
      v-on="formEvents",
      ref="form",
    )
</template>
<script>
import FormAdvanceMixin from "@front/mixins/FormAdvanceMixin";

export default {
  mixins: [FormAdvanceMixin],
  data() {
    return {
      modName: "projects",
      formHasDocuments: false,
    };
  },
  computed: {
    pageTitle() {
      return this.$t("text.projects")
    },
    formBinds() {
      return {};
    },
    tableFilter() {
      return this.$store.getters[this.repoPath('TABLE_FILTER')]
    },
  },

  methods: {
    formCreateInit() {
      this.formCommit("UPDATE_STATE", {
        field: "title",
        value: 'text.create_new_project',
      });
      this.formCommit("UPDATE_FIELD", {
        field: "uuid",
        value: this.$uuid.v4(),
      });
    },
    fetchData(uuid) {
      this.repoDispatch("API_SHOW", uuid).then(this._afterApi).then(() => {
        this.formCommit("UPDATE_STATE", {
          field: "title",
          value: this.formState.fields.basic.brand_name || 'text.create_new_project',
        });
      });
    },
  },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if ("projectCreate" === to.name) {
        vm.formCreateInit();
      } else {
        vm.fetchData(to.params.id);
      }
    });
  },
};
</script>
