<template lang="pug">
.d-flex.align-center
  v-btn(fab, icon, small, @click="resetValue")
    v-icon ic-close
  v-menu(
    ref="menu",
    :close-on-content-click="false",
    transition="scale-transition",
    offset-y,
    min-width="auto"
  )
    template(v-slot:activator="{ on, attrs }")
      v-text-field(
        style="width: 100px",
        v-model="dataLocal",
        :label="label",
        readonly,
        v-bind="attrs",
        v-on="on"
      )
    v-date-picker.date-picker-filter(
      v-model="dataLocal",
    )
</template>

<script>
export default {
  props: {
    field: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    value: {
      type: String,
    },
  },
  computed: {
    dataLocal: {
      get: function() {
        return this.value;
      },
      set: function(value) {
        this.$emit("update", { field: this.field, value });
        return value;
      },
    },
  },
  methods: {
    resetValue() {
      this.$emit("update", { field: this.field, value: '' });
    },
  },
};
</script>
