<template lang="pug">
.d-flex.align-center
  v-btn(fab, icon, small, @click="resetValue")
    v-icon ic-close
  v-select.small(
    :label="label",
    :items="options",
    multiple,
    @change="updateValue"
    v-model="dataSelect"
  )
</template>


<script>
export default {
  props: {
    field: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    options: {
      type: Array,
      default: null,
    },
    value: {
      require: true,
      default: []
    },
  },
  data() {
    return {
      dataSelect: this.value,
    };
  },
  methods: {
    updateValue(value) {
      this.$emit('update', { field: this.field, value });
    },
    resetValue() {
      this.dataSelect = [];
      this.$emit('update', { field: this.field, value: [] });
    },
  },
};
</script>
