<template lang="pug">
  .language-select
    v-menu(offset-y)
      template(v-slot:activator='{ on, attrs }')
        v-btn(text, depressed, v-bind='attrs' v-on='on')
          img.img-flag.mr-3(:src='require(`@/assets/images/flags/${locale.icon}`)' style="height: 25px; width: 25px;")
          | {{ locale.code }}
      v-list
        v-list-item(v-for='item in languages' :key='item.code' @click='onChange(item)')
          v-list-item-title.drop-down-language-item
            img.img-flag.mr-3(:src='require(`@/assets/images/flags/${item.icon}`)' style="height: 25px; width: 25px;")
            span {{ item.name }}

</template>

<script>
  import {languagesFlag} from '@/i18n'

  export default {
    data() {
      return {
        activeLanguage: null,
        //languages: languagesFlag
      };
    },
    computed: {
      supportedLanguages() {
        return this.$store.state.config.languages
      },

      configLanguage() {
        return this.$store.state.config.language
      },

      languages() {
        return languagesFlag.filter(x => this.supportedLanguages.includes(x.code))
      },

      locale() {
        let localeUser = (this.$store.state.auth.user)
          ? this.$store.state.auth.user.preferences.locale
          : this.activeLanguage ?? this.$i18n.locale ?? this.supportedLanguages[0]

        if (!this.supportedLanguages.includes(localeUser)) {
          localeUser = this.configLanguage
        }

        return this.languages.find(
          (i) => i.code == localeUser
        );
      },
    },
    methods: {
      onChange(locale) {
        this.$i18n.locale = locale.code;
        this.activeLanguage = locale.code;

        if (!this.$store.state.auth.user)
          return

        this.$store.commit("auth/SET_PREFERENCE", {
          key: "locale",
          value: locale.code,
        });
        this.$store.dispatch("auth/UPDATE_PREFERENCES", [
          {
            key: "locale",
            value: locale.code,
          },
        ]);
      },
    },
  };
</script>
