<template lang="pug">
  div.public
    AppLangSelect
    login(v-if="isLoginPage")
    register(v-if="isRegisterPage")
    passwordReset(v-if="isForgotPasswordPage")
    slot(name="router")
</template>

<script>
  import Login from './auth/Login'
  import Register from './auth/Register'
  import PasswordReset from './auth/PasswordReset'
  import AppLangSelect from "@front/components/molecules/AppLangSelect.vue";

  export default {
    components: {
      Login, Register, PasswordReset, AppLangSelect
    },

    computed: {
      currentPage() {
        return this.$route.name
      },

      isMainPage() {
        return this.currentPage === null || this.currentPage === '/'
      },

      isLoginPage() {
        return this.isMainPage || this.currentPage === 'login'
      },

      isRegisterPage() {
        return this.currentPage === 'register'
      },

      isForgotPasswordPage() {
        return this.currentPage === 'reset-password'
      }

    },

  }
</script>
