<template lang="pug">
  v-app.container-fluid
    notifications
    loader(v-if="isConfigPreloading")
    .full.centerize(v-else-if="isBadConfig")
      h1 Bad config. Ask Support!


    template(v-else-if="showApp")

      drawer
      //-sidebar
      .page-content(v-if="isData")
        topbar
        router-view.router-view
      loader(v-else)

    public(v-else-if='showPublic')
      template(v-slot:router)
        router-view

</template>

<script>

import Public from '@front/pages/public/Index'
import Sidebar from '@front/components/navigations/Sidebar.vue'
import Topbar from '@front/components/navigations/Topbar.vue'
import Drawer from '@front/components/navigations/Drawer.vue'
import Loader from '@front/components/common/Loader.vue'
import Notifications from '@front/components/Notifications.vue'

export default {

  components: {
    Public, Loader,
    Sidebar, Topbar,
    Drawer, Notifications
  },

  computed: {
    isConfigPreloading() {
      return this.$store.state.config_preloading
    },

    isBadConfig() {
      return this.$store.state.config === false
    },

    isAuthenticated() {
      return this.$store.state.auth.is_logged_in
    },

    isData() {
      const auth = this.$store.state.auth
      return !auth.is_preloading && auth.is_loaded
    },

    showApp() {
      return this.isAuthenticated
    },

    showPublic() {
      return !this.isAuthenticated
    }
  },
}
</script>