@import '@front/styles/variables';

#sidebar-navigation {
  display: flex;
  flex-direction: column;
  background-color: $cl-body-accent;
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.05);
  flex: 0 1 auto;
  min-width: 250px;
  align-items: center;

  .logo {
    height: $topbar-height;
    width: 150px;
  }

  .menu {
    flex-grow: 1;
    width: 100%;
    padding: 0px 40px;

    font-weight: 600;
    font-size: 14px;

    li {
      color: #444;
      opacity: 0.4;
    }

    .item {
      position: relative;
      padding-bottom: 22px;
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
      }

      &:before{
        position: absolute;
        font-weight: 300;
        opacity: 0.4;
        content: "__";
        left:0px;
        bottom: 0px;
      }
    }
    // sub item... 
    .sub {
      li {
        margin-top: 10px;
        padding-left: 10px;
      }
    }

    .router-link-exact-active {
      li {
        opacity: 1;
      }
    }
  }

  .footer {
    padding: 40px;
    font-size: 0.8em;

    .copy {
      text-align: center;
    }
  }
}