@import '@front/styles/variables';

#topbar-navigation {
  display: flex;
  height: $topbar-height;
  align-items: center;

  .v-toolbar__title {
    flex: 1 0 auto;
    font-size: 2.5em;
    letter-spacing: -1px;
  }

  .v-toolbar__content {
    padding: 4px 0px;
  }

  .v-sheet {
    background-color:inherit;
  }
/*
  .right-side {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
  }

  .sep {
    padding: 0px 10px;
  }*/

  .logo {
    position: relative;
  }

  .logout {
    padding: 0px 5px;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .sep {
    position: relative;
    width: 1px;
    height: 80%;
    background:#999;
    margin: 0px 5px;
  }

  .account {
    display: flex;
    align-items: center;
  
    .profile {
      display: inline-flex;
      height: 40px;
      width: 40px;
      box-shadow: 0px 0px 5px 3px rgba(grey, 0.1);
      background-color: white;
      margin-right: 15px;
      border-radius: 50%;

      .picture {position: relative;
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: 50%;

        background-image: url('/img/temp/face.jpg');
        background-position: center;
        background-size: cover;
      }
    }
  }
}