<template lang="pug">
  parent(v-bind="formBind" @close="$emit('form-cancel')")
    template(v-slot:main)
      .form-content.cpad
        group-container(
          :title="$t('text.username')"
          :subtitle="$t('text.what_user_name_you_would_like_to_set_for_this_account')"
        )
          v-text-field(v-model="username" :error-messages="errors.username" filled)
      
        group-container(
          :title="$t('text.company_name')"
          :subtitle="$t('text.what_company_name_you_would_like_to_set_for_this_account')"
        )
          v-text-field(v-model="account_name" :error-messages="errors.account_name" filled)

        group-container(
          :title="$t('text.email')"
          :subtitle="$t('text.what_login_name_you_would_like_to_set_for_this_account')"
        )
          v-text-field(v-model="email" :error-messages="errors.email" filled)

        group-container(
          :title="$t('text.password')"
          :subtitle="$t('text.what_password_you_would_like_to_set_for_this_account')"
        )
          v-text-field(v-model="password" :error-messages="errors.password" type="password" filled :placeholder="$t('text.enter_password')")
          v-text-field(v-model="password_repeat" :error-messages="errors.password_repeat" type="password" filled :placeholder="$t('text.repeat_password')")

        group-container(
          :title="$t('text.type')"
          :subtitle="$t('text.what_is_the_account_type')"
        )
          v-select(v-model="user_type_id" :error-messages="errors.user_type_id" :items="passiveUserTypes" filled)

        group-container(
          :title="$t('text.department')"
          :subtitle="$t('text.which_department_you_would_like_to_set_for_this_account')"
        )
          v-select(v-model="department_id" :items="passiveDepartments" filled)

</template>

<script>
import FormMixin from '@front/mixins/FormMixin'
import GroupContainer from '@/components/forms/parts/GroupContainer'
import PassivesMixin from '@/mixins/PassivesMixin'

export default {
  mixins: [ FormMixin('users'), PassivesMixin ],
  components: { GroupContainer },
}
</script>

