<template lang="pug">
  .tab-content

    tip-container(tips="basic")
      .titles
        .maintitle {{ $t(title) }}
        .subtitle {{ $t(subtitle) }}


      group-container(
        v-if="showDepartments"
        :title="$t('text.choose_a_department')"
        :subtitle="$t('text.choose_which_country_will_manage_your_project')"
        commentField="basic.department"
      )
        v-select(
          v-model="department_id"
          :items="passiveDepartments"
          filled
          :readonly="isLocked"
        )

      group-container(
        :title="$t('text.your_project_manager')"
        :subtitle="$t('text.choose_your_project_manager_from_the_list_below')"
        commentField="basic.project_manager"
      )
        v-select(
          filled
          :items="managers"
          :readonly="isLocked"
          v-model="manager_uuid"
        )

      group-container(
        :title="$t('text.brand_name_site_title')"
        :subtitle="$t('text.what_is_the_name_of_your_brand_or_business')"
        commentField="basic.brand_name"
      )
        v-text-field(v-model="brand_name" filled :readonly="isLocked" :error-messages="$t(errors.basic.brand_name)")

      group-container(
        :title="$t('text.brief_description_of_your_brand_site_description')"
        :subtitle="$t('text.describe_what_you_do_in_a_few_words')"
        commentField="basic.description"
      )
        v-textarea(v-model="description" filled :readonly="isLocked" :error-messages="$t(errors.basic.description)" counter="400")

      group-container(
        :title="$t('text.business_category')"
        :subtitle="$t('text.choose_a_category_matches_your_brand')"
        commentField="basic.category"
      )
        v-select(v-model="business_category_id" :items="passiveBusinessCategories"  filled :readonly="isLocked" :error-messages="$t(errors.basic.business_category_id)")
</template>


<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import TipContainer from '@/components/forms/parts/TipContainer'
import Passives from '@/mixins/PassivesMixin'
import { genFields } from '@/components/forms/fieldGenerator'

export default {
  components: { GroupContainer, TipContainer },
  mixins: [ Passives ],
  props: {
    model: {
      type: Object,
      required: true
    },
    isLocked: { type: Boolean },
    errors: null
  },
  data: function() {
    return {
      title: 'text.basic_information',
      subtitle: 'text.provide_some_basic_information_and_tell_us_what_you_do',
    }
  },
  computed: {
    config() {
      return this.$store.state.config
    },

    showDepartments() {
      return this.config.department_id == null
    },

    managers() {
      return this.$store.state.workers
        .filter(x => {
          return (this.config.department_id)
            ? x.isManager() && x.department_id == this.config.department_id
            : x.isManager() && x.department_id == this.department_id
        })
        .map(x => {
          return {
            text: x.name,
            value: x.uuid
          }
        })
    },
    ...genFields('projects', ['basic.description', 'basic.brand_name', 'basic.business_category_id',
        'basic.manager_uuid', 'basic.department_id']),
  },

  watch: {
    brand_name(val) {
      this.$store.commit('forms/projects/UPDATE_STATE', {
        field: 'title',
        value: (val && val != '') ? val : 'Undefined project'
      })
    }
  },

  mounted() {
    //if (!this.showDepartments)
     // this.department_id = parseInt(this.config.department_id)
    //this.model.department_id = this.config.department_id
  }
}
</script>