<template lang="pug">
  .tab-content
    tip-container(tips="categories")
      .full-height.centerize(v-if="categories.length == 0")
        .placeholder
          v-img.no-resp(:src="require('@/assets/images/placeholders/categories.png')")
          p.text-center {{ $t('text.create_a_category_map_here') }}
            br
            | {{ $t('text.add_as_many_categories') }}
          v-btn.mt-5(color="primary" @click="addNew" :disabled="isLocked" large) {{ $t('text.add_new_category') }}
          .error-text.mt-5(v-if="showError") {{ $t(errors.categories) }}

      .with-elements(v-else)
        .titles.mb-10
          .maintitle {{ $t(title) }}
          .subtitle {{ $t(subtitle) }}
        nested-draggable(:list="categories" :disabled="isLocked" :nestable="true")
        v-btn.mt-5(color="primary" @click="addNew" :disabled="isLocked") {{ $t('text.add_new_category') }}
        add-comment.mt-5(commentField="categories.categories")
</template>


<script>
import NestedDraggable from '@/components/forms/parts/NestedDraggable'
import FormMixin from '@front/mixins/FormMixin'
import TipContainer from '@/components/forms/parts/TipContainer'
import AddComment from '@/components/forms/parts/CommentAdd'

export default {
  components: { NestedDraggable, TipContainer, AddComment },
  mixins: [ FormMixin('projects') ],
  props: {
    isLocked: false
  },
  data: function() {
    return {
      title: 'text.product_categories_online_shop',
      subtitle: 'text.lets_start_setting_up_your_online_store',
    }
  },
  computed: {
    showError() {
      return this.errors.categories && this.errors.categories.length
    },
    name() {
      return this.$t('text.new_category')
    }
  },
  methods: {
    addNew() {
      this.categories.push({
        uuid: this.$uuid.v4(),
        is_new: true,
        elements: [],
        name: this.name,
        products: []
      })
    },
    removeItem(item) {
      this.categories = this.categories.filterDeep('elements', function(e, parent) {
        if (e.uuid == item.uuid)
          e.deleted = true
        return e
      })
    },
  },
  mounted() {
    this.$root.$on('remove-item', this.removeItem)
  },
  destroyed() {
    this.$root.$off('remove-item', this.removeItem)
  }
}
</script>