<template lang="pug">
  .tab-content
    tip-container(tips="company")
      .titles
        .maintitle {{ $t(title) }}
        .subtitle {{ $t(subtitle) }}

      group-container(
        :title="$t('text.email')"
        :subtitle="$t('text.what_email_should_be_shown_on_your_website')"
        commentField="company.email"
      )
        v-text-field(v-model="email" filled :readonly="isLocked" :error-messages="$t(errors.company.email)")
      group-container(
        :title="$t('text.phone_number')"
        :subtitle="$t('text.what_phone_number_should_be_shown_on_your_website')"
        commentField="company.phone_number"
      )
        v-text-field(v-model="model.phone_number" filled :readonly="isLocked")

      group-container(
        :title="$t('text.address')"
        :subtitle="$t('text.what_address_should_be_shown_on_your_website')"
        commentField="company.address"
      )
        v-text-field(v-model="model.address" filled :readonly="isLocked")

      group-container.mb-8(
        :title="$t('text.working_hours')"
        :subtitle="$t('text.what_working_hours_should_be_shown_on_your_website')"
        commentField="company.working_hours"
      )
        v-radio-group.ib-1(v-model="model.working_hours" :mandatory="false" hide-details :disabled="isLocked")
          v-radio(value="always")
            template(v-slot:label) {{ $t('text.always_open') }}

          v-radio(value="hours")
            template(v-slot:label) {{ $t('text.open_for_selected_hours') }}

          working-hours.ib-2.mt-5(v-if="isHoursSelected" :model="model.selected_hours")


      group-container.mb-8(
        :title="$t('text.socials_comment')"
        :subtitle="$t('text.what_social_icons_should_be_included_and_provide_links_for_them')"
        commentField="company.socials"
      )
        social-links(:model="model.social_links" @add-social="addNewSocial" :isLocked="isLocked")

      //-
        group-container(
          :title="$t('text.company_details')"
          :subtitle="$t('text.company_details_you_want_to_be_shown_on_your_website')"
          commentField="company.details"
        )
          v-checkbox(v-model="model.details_show" :disabled="isLocked")
            template(v-slot:label) {{ $t('text.would_you_like_to_show_your_company_details_on_the_website') }}

          div.company_details(v-if="model.details_show")
            .d-flex.item(
              v-for="item in model.details"
              :key="item.id"
            )
              v-text-field.fieldname(v-model="item.name" filled :label="$t('text.company_field_name')" :readonly="isLocked")
              v-text-field.value(v-model="item.value" filled :label="$t('text.value')" :readonly="isLocked")
            btn.add(:label="$t('text.add_new')" icon="ic-add" :small="true" :flat="true" color="primary" @input="addCustomCompanyField" :disabled="isLocked" )
</template>


<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import WorkingHours from './parts/WorkingHours'
import SocialLinks from './parts/SocialLinks'
import Btn from '@/components/common/buttons/Button'
import { genFields } from '@/components/forms/fieldGenerator'
import TipContainer from '@/components/forms/parts/TipContainer'

export default {
  components: { GroupContainer, WorkingHours, SocialLinks, Btn, TipContainer },
  props: {
    model: {
      type: Object,
      required: true
    },
    isLocked: { type: Boolean },
    comments: { type: Object },
    errors: null,
  },
  data() {
    return {
      title: 'text.contact_&_company_details',
      subtitle: 'text.provide_your_business_contact_information_and_company_details',
    }
  },
  computed: {
    isHoursSelected() {
      return this.model.working_hours == 'hours'
    },

    ...genFields('projects', ['company.email']),
  },

  methods: {
    addNewSocial() {
      this.model.social_links.push({ name: this.$t('text.new_social_link'), url: null })
    },

    addCustomCompanyField() {
      this.model.details.push({ id: this.$uuid.v1(), name: null, vallue: null })
    }
  },
}
</script>

<style lang="scss">
.company_details {
  display: flex;
  flex-direction: column;
  .add {
    margin-top: 20px;
    align-self: flex-start;
    label { color: $cl-primary; }
  }

  .item {
    .fieldname {
      margin-right: 10px;
      flex: 1 1 auto;
    }
    .value {
      flex: 3 0 auto;
    }
  }
}
</style>