<template lang="pug">
  .tab-content
    tip-container(tips="content")
      .full-height.centerize(v-if="model.length == 0")
        .placeholder
          v-img.no-resp(:src="require('@/assets/images/placeholders/content.png')")
          p.text-center {{ $t('text.please_create_sitemap_first') }}

      .with-elements(v-else)
        .titles
          .maintitle {{ $t(title) }}
          .subtitle {{ $t(subtitle) }}

        group-container(
          v-if="isPolish"
          :title="$t('text.content_all_images')"
          :subtitle="$t('text.content_all_images_sub')"
        )
          v-text-field(v-model="content_all_images" filled :placeholder="$t('text.content_all_images_placeholder')"  :readonly="isLocked")

        group-container(
          :title="$t('text.editable_content')"
          :subtitle="$t('text.select_which_content_page_you_want_to_edit')"
        )
          .scrollbar.xAxis.mb-5
            nested-tree(v-model="model" @click="onTreeSelected" :activeUuid="selectedUuid")

        v-sheet.chpad.border-primary(
          v-for="c in contentItems" :key="c.uuid"
          v-if="selectedUuid == c.uuid"
          elevation="0"
        )
          h2.text-center.content-title {{ c.name }}



          group-container(
            :title="$t('text.page_title')"
            :subtitle="$t('text.what_page_title_would_you_like_to_use_on_this_page')"
            :commentField="`content.${selectedUuid}-title`"
          )

            v-text-field(v-model="c.title" filled :placeholder="$t('text.business_name')" :readonly="isLocked" :error-messages="titleError")

          group-container(
            :title="$t('text.page_subtitle')"
            :subtitle="$t('text.what_page_subtitle_would_you_like_to_use_on_this_page')"
            :commentField="`content.${selectedUuid}-subtitle`"
          )

            v-text-field(v-model="c.subtitle" filled :placeholder="$t('text.business_slogan_moto')" :readonly="isLocked")

          group-container.mb-8(
            :title="$t('text.page_content')"
            :subtitle="$t('text.what_page_content_would_you_like_to_use_on_this_page')"
            :commentField="`content.${selectedUuid}-content`"
          )

            ckeditor(:editor="editor" v-model="c.content" :disabled="isLocked" :config="editorConfig")
            .error-text.margins(v-if="contentError") {{ $t(contentError) }}

          group-container(
            :title="$t('text.page_media')"
            :subtitle="$t('text.what_page_media_would_you_like_to_use_on_this_page')"
            :commentField="`content.${selectedUuid}-media`"
          )
            media-uploader(
              :documents="c.media"
              resourceName="projects"
              :uuid="projectUUID"
              @added="onAdded"
              @deleted="onDeleted"
              :disabled="isLocked"
            )

          content-extras.mt-8(:model="c.extras" :disabled="isLocked")
</template>

<script>
import ContentExtras from './contentExtras/ContentExtras'
import GroupContainer from '@/components/forms/parts/GroupContainer'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import MediaUploader from '@/components/forms/parts/uploaders/MediaUploader'
import NestedTree from './parts/NestedTree'
import TipContainer from '@/components/forms/parts/TipContainer'
import { genFields } from '@/components/forms/fieldGenerator'
import domain from '@/scripts/domain'


export default {
  name:'content-tab',
  components: {
    GroupContainer, ContentExtras, MediaUploader, NestedTree, TipContainer
  },
  props: {
    model: Array,
    default: [],
    isLocked: { type: Boolean },
    errors: null,
  },
  data: function() {
    return {
      title: 'text.content',
      subtitle: 'text.provide_us_the_content_texts_images_videos_other_that_you_want_to_use_in_your_website_pages',
      selectedUuid: null,

      collectedSitemap: null,
      editor: ClassicEditor,
      editorConfig: {
        resize_minHeight: 400
      }
    }
  },
  computed: {
    isPolish() {
      return domain.isPL()
    },
    titleError() {
      const titles = this.errors.sc_title ?? {}
      return titles[this.selectedUuid] ?? []
    },
    contentError() {
      const contents = this.errors.sc_content ?? {}
      return contents[this.selectedUuid] ?? false
    },
    projectUUID() {
      return this.$store.state.forms.projects.fields.uuid
    },
    contentItems() {
      let items = []
      this.model.eachDeep('elements', (item) => {
        if (!item.deleted)
          items.push(item)
      })
      return items
    },

    ...genFields('projects', ['only_one.content_all_images']),
  },
  methods: {
    onAdded(model) {
      const uuid = this.selectedUuid
      this.model.mapDeep('elements', function(e, parent) {
        if (e.uuid == uuid) {
          e.media.push(model)
        }
        return e
      })
    },
    onDeleted(fileName) {
      //console.log('deleting..', fileName)
      const uuid = this.selectedUuid
      this.model.mapDeep('elements', function(e) {
        if (e.uuid == uuid)
          e.media = e.media.filter(x => x.filename != fileName)

        return e
      })
    },
    onTreeSelected(uuid) {
      this.selectedUuid = uuid
    }
  }

}
</script>
<style lang="scss">
.tab-content{
  .ck-content { min-height:200px; max-height: 800px; }
  .content-title {
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: -20px;
  }
}
</style>