<template lang="pug">
  .tab-content.delegate
    .timestamps
      .date {{ $t('text.created_at') }}: {{ dates.created }}
      .date {{ $t('text.updated_at') }}: {{ dates.updated }}
      .date {{ $t('text.deadline_date') }}: {{ dates.deadline }}
      .date {{ $t('text.reminder_date') }}: {{ dates.reminder }}
    group-container(
      :title="$t('text.attached_project_manager')"
      :subtitle="$t('text.which_project_manager_is_responsable_for_this_project')"
    )
      v-select(:items="managers" v-model="model.manager_uuid" filled :disabled="!$user().isAdmin()")

    group-container(
      :title="$t('text.attached_designer')"
      :subtitle="$t('text.which_designer_is_responsable_for_this_project')"
    )
      v-select(:items="designers" v-model="model.designer_uuid" filled :disabled="!$user().isAdmin()")

    group-container(
      :title="statusTitle"
      :subtitle="$t('text.which_status_do_you_want_to_change_for_this_project')"
    )
      v-select(:items="statusItems" v-model="currentStatus" filled)

    group-container(
      v-if="canSetTimestamps"
      :title="$t('text.reminder')"
      :subtitle="$t('text.set_a_date_from_which_point_to_start_reminding_you_about_this_project')"
    )
      v-menu(
        v-model="reminderMenu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      )
        template(v-slot:activator="{ on, attrs }")
          v-text-field(
            v-model="model.reminder"
            filled
            readonly
            v-bind="attrs"
            v-on="on"
          )

        v-date-picker(
          v-model="model.reminder"
          @input="reminderMenu = false"
        )


    group-container(
      v-if="canSetTimestamps"
      :title="$t('text.deadline_date')"
      :subtitle="$t('text.set_a_deadline_date_for_this_project')"
    )
      v-menu(
        v-model="deadlineMenu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      )
        template(v-slot:activator="{ on, attrs }")
          v-text-field(
            v-model="model.deadline"
            filled
            readonly
            v-bind="attrs"
            v-on="on"
          )

        v-date-picker(
          v-model="model.deadline"
          @input="deadlineMenu = false"
        )

    v-btn(v-if="$user().isDesignerGTE()" color="info" @click="downloadAll", :loading="loadingDownloadImages") {{ $t('text.download_project_images') }}
    br
    br
    v-btn(v-if="$user().isDesignerGTE()" color="primary" @click="install" :loading="isInstalling") {{ $t('text.install_wp') }}

    v-expansion-panels.mt-5(v-if="wpData")
      v-expansion-panel(
        v-for="(value,key) in wpData"
        :key="key"
      )
        v-expansion-panel-header {{ key }}
        v-expansion-panel-content.flex-column.pa-3(v-html="formattedValue(value)")
</template>


<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import * as pStatus from '@models/projects/statuses.js'
import statusMaps from '@models/projects/statusMaps.js'
import ModMixin from '@/mixins/ModMixin.js'

export default {
  components: { GroupContainer },
  mixins: [ ModMixin ],
  props: {
    model: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      title: 'text.delegate_user',
      subtitle: '',
      reminderMenu: false,
      deadlineMenu: false,
      loadingDownloadImages: false,
      modName: 'projects',
    }
  },

  computed: {
    canSetTimestamps() {
      return this.$user().isManager() || this.$user().isAdmin()
    },
    dates() {
      return {
        created: this.formModel.createdAt.format('YYYY-MM-DD HH:mm'),
        updated: this.formModel.updatedAt.format('YYYY-MM-DD HH:mm'),
        reminder: this.formModel.delegate.reminder ?? 'Not set',
        deadline: this.formModel.delegate.deadline ?? 'Not set',
      }
    },
    statusTitle() {
      return 'Current Status: ' + this.$t('text.statuses.' + this.formModel.status.name_code)
    },

    currentStatus: {
      get() {
        return this.model.status_id ?? this.formModel.status.id
      },
      set(val) {
        this.model.status_id = val
      }
    },

    statusItems() {
      return statusMaps.getUserMaps(this.$user(), this.formModel.status.id)
    },

    formModel() {
      return this.$store.state.forms.projects.model
    },

    isInstalling() {
      return this.$store.state.forms.projects.wp_install
    },

    wpData() {
      return this.$store.state.forms.projects.wp_data
    },

    workers() {
      return this.$store.state.workers
    },
    managers() {
      return this.workers.filter(x => x.isManager()).map(x => {
        return {
          text: x.name,
          value: x.uuid
        }
      })
    },
    designers() {
      return this.workers.filter(x => x.isDesigner()).map(x => {
        console.log('designer',x)
        return {
          text: x.name,
          value: x.uuid
        }
      })
    }
  },

  methods: {
    install() {
      this.$store.dispatch('forms/projects/INSTALL_WP')
    },

    formattedValue(val) {
      if (typeof val === 'string' || val instanceof String)
        return val.replace(/(\r\n|\n|\r)/g,"<br />");
      else
        return val
    },

    async downloadAll() {
      this.loadingDownloadImages = true;
      await this.formDispatch('DOWNLOAD_ALL_MEDIA');
      this.loadingDownloadImages = false;
    }
  }
}
</script>


<style lang="scss">
.timestamps {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
</style>