<template lang="pug">
  .tab-content.fixes
    group-container(
      :title="$t('text.write_fixes')"
      :subtitle="$t('text.please_describe_fixes')"
    )
      v-textarea(rows="14" filled v-model="model" :disabled="disabled")

</template>

<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
export default {
  components: { GroupContainer },
  data() {
    return {
      title: '',
      subtitle: ''
    }
  },
  computed: {
    model: {
      get() {
        return this.$store.state.forms.projects.fields.fixes
      },
      set(val) {
        this.$store.state.forms.projects.fields.fixes = val
      },
    },
    disabled() {
      return this.$store.state.forms.projects.fields.status_id != 9 || !this.$user().isClient()
    }
  }

}
</script>