<template lang="pug">
  .tab-content
    tip-container(tips="payments")
      .titles
        .maintitle {{ $t(title) }}
        .subtitle {{ $t(subtitle) }}

      group-container(
        :title="$t('text.currency')"
        :subtitle="$t('text.choose_a_currency')"
        commentField="payment.currency"
      )
        v-autocomplete(:items="passiveCurrencies" v-model="model.currency_id" append-icon="ic-expand-more" filled :disabled="isLocked")

      group-container(
        :title="$t('text.payment_gateway')"
        :subtitle="$t('text.connect_a_gateway')"
        commentField="payment.gateway"
      )
          //-
            v-radio-group.ib-1(v-model="model.payment_gateway" :mandatory="false" hide-details :disabled="isLocked")
            v-radio(value="none")
            template(v-slot:label) None

          .d-flex.flex-column(v-if="polishPayments")
            v-checkbox(v-model="model.paypal" hide-details label="Paypal" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.paypal")
              v-text-field(v-model="model.paypal_id" filled label="E-mail" :readonly="isLocked")
              v-text-field(v-model="model.paypal_merchant_id" filled label="Merchant Id" :readonly="isLocked")
              //-v-text-field(v-model="model.paypal_invoice_tag" filled label="Invoice Tag" :disabled="isLocked")

            v-checkbox(v-model="model.payu" hide-details label="PayU" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.payu")
              v-text-field(v-model="model.payu_id" filled label="Id punktu płatności" :readonly="isLocked")
              v-text-field(v-model="model.payu_md5" filled label="Drugi klucz (MD5)" :readonly="isLocked")
              v-text-field(v-model="model.payu_client_id" filled label="OAuth (client_id)" :readonly="isLocked")
              v-text-field(v-model="model.payu_client_secret" filled label="OAuth (client_secret)" :readonly="isLocked")

              label.small.grey--text.text--darken-1 Wszystkie powyższe dane możesz znaleźć w panelu PayU przechodząc do:
                br
                | "Moje sklepy" -> Kliknij w nazwę sklepu -> "Punkty płatności"

            v-checkbox(v-model="model.przelewy24" hide-details label="Przelewy24" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.przelewy24")
              v-text-field(v-model="model.przelewy24_id" filled label="ID Sprzedawcy (zazwyczaj jest to też login)" :readonly="isLocked")
              v-text-field(v-model="model.pprzelewy24_crc" filled label="Klucz CRC" :readonly="isLocked")

              label.small.grey--text.text--darken-1 Klucz CRC jest do znalezienia po zalogowaniu w panel.przelewy24.pl w zakładce "moje dane".

          .d-flex.flex-column(v-else)

            v-checkbox(v-model="model.paypal" hide-details label="Paypal" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.paypal")
              v-text-field(v-model="model.paypal_id" filled label="E-mail" :readonly="isLocked")
              v-text-field(v-model="model.paypal_merchant_id" filled label="Merchant Id" :readonly="isLocked")
              v-text-field(v-model="model.paypal_invoice_tag" filled label="Invoice Tag" :readonly="isLocked")

            v-checkbox(v-model="model.stripe" hide-details label="Stripe" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.stripe")
              v-text-field(v-model="model.stripe_live_secret_key" filled label="Live Secret Key" :readonly="isLocked")
              v-text-field(v-model="model.stripe_live_pub_key" filled label="Live Publishable Key" :readonly="isLocked")
              v-text-field(v-model="model.stripe_test_secret_key" filled label="Test Secret Key" :readonly="isLocked")
              v-text-field(v-model="model.stripe_test_pub_key" filled label="Test Publishable Key" :readonly="isLocked")

            v-checkbox(v-model="model.paysera" hide-details label="Paysera" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.paysera")
              v-text-field(v-model="model.paysera_project_id" filled label="Project Id" :readonly="isLocked")
              v-text-field(v-model="model.paysera_sign_id" filled label="Sign Id" :readonly="isLocked")
              v-text-field(v-model="model.paysera_meta_code" filled label="Meta Code" :readonly="isLocked")

            v-checkbox(v-model="model.checkout2" hide-details label="2CheckOut" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.checkout2")
              v-text-field(v-model="model.checkout2_account_number" filled label="Account Number" :readonly="isLocked")
              v-text-field(v-model="model.checkout2_secret_word" filled label="Secret Word" :readonly="isLocked")

            v-checkbox(v-model="model.vapulus" hide-details label="Vapulus" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.vapulus")
              v-text-field(v-model="model.vapulus_website_id" filled label="Website Id" :readonly="isLocked")

            v-checkbox(v-model="model.amazon" hide-details label="Amazon Pay" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.amazon")
              v-text-field(v-model="model.amazon_seller_id" filled label="Seller Id" :readonly="isLocked")
              v-text-field(v-model="model.amazon_mws_access_key" filled label="MWS Access Key" :readonly="isLocked")
              v-text-field(v-model="model.amazon_mws_secret_key" filled label="MWS Secret Key" :readonly="isLocked")
              v-text-field(v-model="model.amazon_app_client_id" filled label="App Client Id" :readonly="isLocked")
              v-text-field(v-model="model.amazon_app_client_secret" filled label="App Client Secret" :readonly="isLocked")

            v-checkbox(v-model="model.braintree" hide-details label="Braintree" :disabled="isLocked")
            .ib-2.mt-2(v-if="model.braintree")
              v-text-field(v-model="model.braintree_private_key" filled label="Private Key" :readonly="isLocked")
              v-text-field(v-model="model.braintree_public_key" filled label="Public Key" :readonly="isLocked")
              v-text-field(v-model="model.braintree_merchant_id" filled label="Merchant Id" :readonly="isLocked")

</template>


<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import Passives from '@/mixins/PassivesMixin'
import TipContainer from '@/components/forms/parts/TipContainer'
import domain from '@/scripts/domain'

export default {
  components: { GroupContainer, TipContainer },
  mixins: [ Passives ],
  props: {
    model: {
      type: Object,
      required: true
    },
    isLocked: false
  },
  data: function() {
    return {
      title: 'text.payments_online_shop',
      subtitle: 'text.choose_your_currency_and_payment_gateway',
    }
  },
  computed: {
    gate() {
      return this.model.payment_gateway
    },
    showCredentials() {
      return this.gate && this.gate != 'none'
    },
    polishPayments() {
      return domain.isPL()
    }

  }
}
</script>