<template lang="pug">
  .tab-content
    tip-container(tips="products")
      .full-height.centerize(v-if="model.length == 0")
        .placeholder
          v-img.no-resp(:src="require('@/assets/images/placeholders/products.png')")
          p.text-center {{ $t('text.please_create_a_categories_first_in_order_create_products') }}

      .with-elements(v-else)
        .titles
          .maintitle {{ $t(title) }}
          .subtitle {{ $t(subtitle) }}

        group-container(
          :title="$t('text.editable_category')"
          :subtitle="$t('text.select_which_category_of_products_you_want_to_edit')"
        )
          .scrollbar.xAxis.mb-5
            nested-tree.mb-5(v-model="model" @click="onTreeSelected" :activeUuid="selectedUuid")
        v-sheet.chpad.border-primary(
          v-for="c in categoryItems" :key="c.uuid"
          v-if="selectedUuid == c.uuid"
          :disabled="isLocked"
        )
          data-page(v-bind="dataBind" :disabled="isLocked")


</template>

<script>

import GroupContainer from '@/components/forms/parts/GroupContainer'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import vueFilePond from 'vue-filepond';
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
import Auth from '@/plugins/auth'
import FormMixin from '@front/mixins/FormMixin'
import PageMixin from '@front/mixins/DataPageMixin'
import NestedTree from './parts/NestedTree'
import TipContainer from '@/components/forms/parts/TipContainer'

export default {
  name:'products-tab',
  props: {
    model: Array,
    default: [],
    isLocked: false
  },
  components: {
    GroupContainer,
    FilePond: vueFilePond(FilePondPluginFileValidateType),
    NestedTree,
    TipContainer
  },
  mixins: [ PageMixin ],
  data: function() {
    return {
      title: 'text.products',
      subtitle: 'text.add_products_to_your_created_categories',
      selectedUuid: null,
      // Products data table props...
      modName: 'projects',
      formName: 'ProductForm',
      formFolderPathSuffix: 'wizard',
      formHasDocuments: false,
      formModel: {},
      toolbarTheme: 'theme--none',
      toolbarDark: false,
      tableElevation: 0,
      showPlaceholder: false
    }
  },
  computed: {
    tableHeaders() {
      return [
        { text: this.$t('text.name'), align: 'left', value: 'name', width: '40%' },
        { text: this.$t('text.description'), align: 'left', value: 'description', width: '40%' },
        { text: this.$t('text.price'), align: 'left', value: 'price', class: 'text-capitalize' },
        { text: this.$t('text.actions'), value: 'action', sortable: false, align: 'right' },
      ]
    },
    tableActions() {
      return {
        add: { color: 'primary' }
      }
    },
    pageTitle() {
      return this.$t('text.category_products')
    },
    formBinds() {
      return {
        model: this.formModel,
        isLocked: this.isLocked,
        errors: this.formState.validationErrors
      }
    },
    activeCategory() {
      return this.model.findDeep('uuid', this.selectedUuid)
    },
    items() {
      return this.activeCategory.products
    },
    categoryItems() {
      let items = []
      this.model.eachDeep('elements', (item) => {
        items.push(item)
      })
      return items
    },
  },
  methods: {
    // TABLE ACTIONS (HEADER)
    tableActionCreate() {
      //this.formCommit('CLEAR_FIELDS')
      this.formModel = {}
      this.$refs.dtp.showForm = true
    },

    // TABLE ITEM ACTIONS (ITEM RIGHT SIDE)
    tableItemActionDelete(model) {
      if (confirm(this.$t('text.are_you_sure_u_want_to_remove_this_item'))) {
        const index = this.findProductIndex(model.uuid)
        this.activeCategory.products.splice(index, 1)
      }
    },

    tableItemActionEdit(model) {
      console.log('edit', model)
      this.formModel = model
      this.getRef('dtp').showForm = true
    },

    // FORM EVENTS
    formActionCancel() {
      this.getRef('dtp').showForm = false
    },

    formActionCreate(model) {
      model.uuid = this.$uuid.v4()
      this.activeCategory.products.push(model)
      this.getRef('dtp').showForm = false

    },

    findProductIndex(uuid) {
      return this.activeCategory.products.findIndex(x => x.uuid == uuid)
    },

    formActionUpdate(model) {
      //console.log('form action update', model)
      const index = this.findProductIndex(model.uuid)
      this.activeCategory.products[index] = model
      this.getRef('dtp').showForm = false
    },

    onTreeSelected(uuid) {
      this.selectedUuid = uuid
      this.$nextTick(() => {
        this.$refs.dtp.showForm = false
      })
    }
  }

}
</script>
