<template lang="pug">
  abstract-form.subform(v-bind="formBind" ref="form")
    template(v-slot:main)
      group-container(
        :title="$t('text.product_name')"
        :subtitle="$t('text.what_is_your_product_name')"
      )
        v-text-field(v-model="modelData.name" filled :readonly="isLocked" :rules="[v => !!v || $t('text.product_name_is_required')]")

      group-container(
        :title="$t('text.product_short_description')"
        :subtitle="$t('text.what_is_your_product_short_description')"
      )
        v-textarea(v-model="modelData.short_description" filled :readonly="isLocked" rows="2")

      group-container(
        :title="$t('text.product_description')"
        :subtitle="$t('text.what_is_your_product_description')"
      )
        v-textarea(v-model="modelData.description" filled :readonly="isLocked")


      group-container(
        :title="$t('text.product_price')"
        :subtitle="$t('text.what_is_the_price_of_your_product')"
      )
        v-text-field(v-model="modelData.price" filled :readonly="isLocked" :rules="[v => parseFloat(v) == v || $t('text.product_price_is_required')]")

      group-container(
        :title="$t('text.product_comments')"
        :subtitle="$t('text.product_comments_sub')"
      )
        v-textarea(v-model="modelData.comments" filled :readonly="isLocked" rows="2")

      group-container(
        :title="$t('text.product_images')"
        :subtitle="$t('text.upload_your_product_images_here')"
      )

        media-uploader(
          :documents="modelData.media"
          resourceName="projects"
          :uuid="projectUUID"
          @added="onAdded"
          @deleted="onDeleted"
          :disabled="isLocked"
        )

      //-
        group-container(
          title="Comments (Will not be shown)"
          subtitle="You can leave a comment for yourself"
        )
          v-textarea(v-model="modelData.comments" filled :disabled="isLocked")


    
</template>

<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import AbstractForm from '@/components/forms/AbstractForm'
//import Button from '@/components/common/buttons/Button'
import Button from '@/components/common/buttons/VBtn'
import vuetize from '@/scripts/vuetize'
import MediaUploader from '@/components/forms/parts/uploaders/MediaUploader'

export default {
  components: { AbstractForm, GroupContainer, MediaUploader },
  props: {
    subtitle: { type: String, default: 'Create product' },
    model: { type: Object, required: true },
    isLocked: false,
    errors: null
  },
  data() {
    return {
      modelData: {
        uuid: this.model.uuid ?? null,
        name: this.model.name ?? null,
        short_description: this.model.short_description ?? null,
        description: this.model.description ?? null,
        price: this.model.price ?? null,
        media: this.model.media ?? [],
        comments: this.model.comments ?? null,
        is_new: this.model.is_new ?? true
      }
    }
  },
  computed: {
    formActions() {
      return {
        spacer: { component: 'v-spacer', order: 97 },
        cancel: { label: this.$t('text.cancel_product'), evinput: this.formActionCancel, component: Button, color:'#aaa', order: 98, class: 'mr-5', dark: true },
        save: { label: this.$t('text.add_product'), evinput: this.formActionSave, component: Button, color:'secondary', order: 99 },
      }
    },
    projectUUID() {
      return this.$store.state.forms.projects.fields.uuid
    },
    formBind() {
      return {
        formActions: vuetize(this.formActions),
        formElevation: 0,
        showToolbar: false,
        showSubtitle: false,
        toolbarTheme: 'theme--none',
        toolbarDark: false
      }
    },
  },

  methods: {
      formActionCancel() {
        this.$emit('form-cancel')
      },
      formActionSave() {
        if (this.$refs.form.$refs.form.validate())
          this.formEmitData()
      },

      formEmitData() {
        const ev = (this.modelData.uuid) ? 'form-update' : 'form-create'
        this.$emit(ev, this.modelData)
      },

      onAdded(model) {
        this.modelData.media.push(model)
      },
      onDeleted(fileName, id) {
        this.modelData.media = this.modelData.media.filter(x => x.filename != fileName)
      }
  },

  mounted() {
    console.log('validationErrors', this.errors)
  }

}
</script>