<template lang="pug">
  .tab-content
    tip-container(tips="sitemap")
      .with-elements(v-if="sitemap.length > 0")
        .titles.mb-10
          .maintitle {{ $t(title) }}
          .subtitle {{ $t(subtitle) }}

        nested-draggable(v-model="sitemap" :disabled="isLocked" :nestable="nestable")
        v-btn.mt-5(color="primary" @click="addNew()" :disabled="isLocked") {{ $t('text.add_new_page') }}
        add-comment.mt-5(commentField="sitemap.sitemap")

      .full-height.centerize(v-else)
        .placeholder
          v-img.no-resp(:src="require('@/assets/images/placeholders/sitemap.png')")
          p.text-center {{ $t('text.create_a_sitemap_here') }}
            br
            | {{ $t('text.add_as_many_pages') }}
          .d-flex
            v-btn.mt-5(color="primary" @click="addStandard" :disabled="isLocked" large) {{ $t('text.add_standard_sitemap') }}
            v-btn.mt-5.ml-5(color="secondary" @click="addNew()" :disabled="isLocked" large) {{ $t('text.add_custom_sitemap') }}
          .error-text.mt-5(v-if="showError") {{ $t(errors.sitemap) }}

</template>

<script>
import AddComment from '@/components/forms/parts/CommentAdd'
import NestedDraggable from '@/components/forms/parts/NestedDraggable'
import FormMixin from '@front/mixins/FormMixin'
import TipContainer from '@/components/forms/parts/TipContainer'
//import NestedDrag from './parts/NestedDrag'
//import NestedDragster from './parts/NestedDragster'

export default {
  components: {
    NestedDraggable,
    TipContainer,
    AddComment
  },
  mixins: [ FormMixin('projects') ],
  props: {
    isLocked: { type: Boolean },
  },
  data: function() {
    return {
      title: 'text.project_menu_sitemap',
      subtitle: 'text.create_a_sitemap_for_your_website_structure_pages_and_sub',
    }
  },
  computed: {
    showError() {
      return this.errors.sitemap && this.errors.sitemap.length
    },
    nestable() {
      return this.$store.state.forms.projects.fields.style.type == 'multi'
    },
  },

  methods: {
    addNew(name = null) {

      this.sitemap.push({
        is_new: true,
        deleted: false,
        name: (this.sitemap.length == 0) ? this.$t('text.homepage') : (name ?? this.$t('text.new_page')),
        elements: [],
        title: null,
        subtitle:null,
        content: null,
        media: [],
        uuid: this.$uuid.v4(),
        extras: [
          { id: 'features', added: false, items: [] },
          { id: 'partners', added: false, items: [] },
          { id: 'testimonials', added: false, items: [] },
          { id: 'gallery', added: false, title: null, description: null, media: [] },
          { id: 'contacts', added: false, fields: [] },
          { id: 'registration_form', added: false, fields: [] },
        ]
      })
    },
    addStandard() {
      this.addNew() // homepage
      this.addNew('About us')
      this.addNew('Services')
      this.addNew("Contacts")
    },
    removeItem(item) {
      this.sitemap = this.sitemap.mapDeep('elements', function(e, parent) {
        if (e.uuid == item.uuid)
          e.deleted = true
        return e
      })

      //console.log('removed..', this.sitemap)
    },
  },
  mounted() {
    this.$root.$on('remove-item', this.removeItem)
  },
  destroyed() {
    this.$root.$off('remove-item', this.removeItem)
  }
}
</script>