<template lang="pug">
  .tab-content.submit
    .full-height.centerize.flex-column
      h1.secondary--text {{ $t(title) }}
      .text-bigger.my-2 {{ $t('text.by_submitting_this_form_i_confirm_that') }}
      .d-flex.flex-column
        v-checkbox(v-model="accepted_agreement" hide-details :disabled="isLocked")
          template(v-slot:label) {{ $t('text.i_have_provided_all_the_information_that_i_want_to_put_on_my_website_and_i_understand_that_you_will_not_accept_information_after_that') }}

        .d-flex
          v-checkbox(v-model="accepted_terms" hide-details :disabled="isLocked")
          .span.pt-5(v-html="$t('text.i_have_read_and_i_agree', policyTexts)")

      .mt-8 {{ $t('text.after_submitting_you_will_not_be_able_to_edit_this_application_form') }}
      v-btn.theme--gradient.mt-8(x-large dark :disabled="isDisabled" @click="finilize") {{ $t('text.submit_application') }}
</template>


<script>
import FormMixin from '@front/mixins/FormMixin'
export default {
  mixins: [ FormMixin('projects') ],
  props: {
    isLocked: false
  },
  data: function() {
    return {
      title: 'text.final_step',
      subtitle: 'text.after_submitting_you_will_not_be_able_to_edit_this_application_form',
    }
  },
  methods: {
    gotoTerms() {
      window.open("https://getspace.ie/terms-conditions/", "_blank")
    },

    finilize() {
      this.formDispatch('VALIDATE_FIELDS')
        .then(() => {
          this.formDispatch('FINILIZE')
          this.$router.push({ name: "projects", query: this.tableFilter });
        })
        /*.catch(() => {
          console.log('errors', this.formState)
        })*/
    }
  },
  computed: {
    tableFilter() {
      return this.$store.getters[this.repoPath('TABLE_FILTER')]
    },
    isDisabled() {
      return (this.accepted_agreement && this.accepted_terms && !this.isLocked) ? false : true
    },
    policyTexts() {
      return {
              agree_with_terms: '<a href="'+ this.$t('text.url.terms') +'" class="primary--text" target="_blank">'+ this.$t('text.agree_with_terms') +'</a>',
            }
    }
  }
}
</script>