<template lang="pug">
  .tab-content
    tip-container(tips="resources")
      .titles
        .maintitle {{ $t(title) }}
        .subtitle {{ $t(subtitle) }}

      group-container(
        :title="$t('text.domain_name')"
        :subtitle="$t('text.enter_your_domain_name_here')"
        commentField="website.domain_name"
      )

        v-text-field(:label="$t('text.your_domain_name') + ' (example.com)'" v-model="domain_name" :readonly="isLocked" filled :error-messages="$t(errors.website.domain_name)")

        v-radio-group.ib-1(v-model="domain_registered" :mandatory="false"  :disabled="isLocked" :error-messages="$t(errors.website.domain_registered)")
          v-radio(value="getspace")
            template(v-slot:label) {{ $t('text.i_have_registered_my_domain_name_at_getspace') }}
          v-radio(value="provider")
            template(v-slot:label) {{ $t('text.i_have_registered_my_domain_name_with_another_provider')}}

          v-radio-group.ib-2(
              v-if="isProviderSelected"
              v-model="domain_care"
              :mandatory="false"
              :disabled="isLocked"
              :error-messages="$t(errors.website.domain_care)"
          )
            v-radio(value="getspace")
              template(v-slot:label) {{ $t('text.please_take_care_of_my_domain_name_and_redirect_it_to_getspace_servers') }}

            .ib-2(v-if="isGetSpaceSelected")
              .p.mb-3.explain {{ $t('text.in_order_to_redirect_your_domain_name_to_getspace_server_we_need_login_details_to_domain_management_system') }}

              v-text-field(v-model="model.care_url" filled :label="$t('text.login_url_link')" :readonly="isLocked" :error-messages="$t(errors.website.care_url)")
              v-text-field(v-model="model.care_user" filled :label="$t('text.username')" :readonly="isLocked" :error-messages="$t(errors.website.care_user)")
              v-text-field(v-model="model.care_password" filled :label="$t('text.password')" :readonly="isLocked" :error-messages="$t(errors.website.care_password)")

            v-radio(value="selfcare")
              template(v-slot:label) {{ $t('text.i_will_take_care_of_my_domain_name_myself_and_will_redirect_it_to_getspace_servers') }}

        //-v-text-field(filled)

      group-container(
        :title="$t('text.web_hosting')"
        :subtitle="$t('text.enter_the_email_you_used_to_register_at_getspace_it_will_help_us_to_identify_your_web_hosting_account')"
        commentField="website.web_hosting"
      )
        v-text-field(v-model="host_email" filled :placeholder="$t('text.your_e-mail_at_getspace')" :readonly="isLocked" :error-messages="$t(errors.website.host_email)")



</template>


<script>
import GroupContainer from '@/components/forms/parts/GroupContainer'
import { genFields } from '@/components/forms/fieldGenerator'
import TipContainer from '@/components/forms/parts/TipContainer'

export default {
  components: { GroupContainer, TipContainer },
  props: {
    model: {
      type: Object,
      required: true
    },
    isLocked: { type: Boolean },
    comments: { type: Object },
    errors: null
  },
  data: function() {
    return {
      title: 'text.website_resources',
      subtitle: 'text.information_regarding_technical_resources_of_your_website',
      domreg: null,
      domain_com: null
    }
  },
  computed: {
    isProviderSelected() {
      return this.model.domain_registered == 'provider'
    },
    isSelfcareSelected() {
      return this.model.domain_care == 'selfcare'
    },
    isGetSpaceSelected() {
      return this.model.domain_care == 'getspace'
    },

    ...genFields('projects', [
        'website.domain_name', 'website.domain_registered', 'website.domain_care',
        'website.care_url', 'website.care_user', 'website.care_password', 'website.host_email',
        'website.domain_whmcs'
    ])
  },
  watch: {
    'model.domain_registered'(val) {
      this.model.domain_care = (!this.isProviderSelected) ? null : this.model.domain_care
    }
  }
}
</script>